[2019-04-23 15:11] adonahue opened #1 "test"
This is what a new issue looks like.

[2019-04-23 18:58] ebporter opened #2 "Stage 1: Refactoring"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Debug Info

rhythm-server - VERSION

Operating system: OS
CPU architecture: ARCH
Kernel: KERNEL

Docker environment (if applicable):
Using `make up` from `rhythm-docker`

[2019-04-23 19:01] #1 closed

[2019-04-26 14:33] ebporter opened #9 "Create package for dashboard code"
This story encompasses packaging the newly refactored dashboard code so that it can be called by the Riff Platform code when that gets packaged, containerized and deployed.

[2019-04-26 14:33] ebporter opened #8 "Create package for video chat code"
This story encompasses packaging the newly refactored video chat code so that it can be called by the Riff Platform code when that gets packaged, containerized and deployed.

[2019-04-26 14:37] ebporter opened #19 "Stage 3a: Have full test coverage of Riff-rtc packages"
This epic is about improving test coverage of all Riff-rtc packages, including fixing or replacing the currently broken tests.

[2019-04-26 15:54] ebporter opened #5 "Gather information about Riff video stability issues"
This issue captures the activity of getting more detailed information from course staff and learners about specific issues faced while using Riff video chat during Cohort 1.

[2019-04-26 16:19] ebporter opened #16 "SPIKE: explore the options for reducing / cutting video to improve unstable"
In order to improve the user's experience of using the Riff video chat, this spike will look at options for putting up messaging for users when one or more of the peer connections become unstable and the video (or audio) feed can't be shown.

** Spike acceptance criteria **

A written document that includes the following information:

- [ ] The scope and sequence of work to detect degraded connect

[2019-04-29 21:25] mlippert opened #4 "Deploy new docker swarms using an existing VPC"
Currently we use the Docker For AWS CloudFormation template that creates a new VPC for each CloudFormation stack created.

Because AWS only allows 5 VPCs for each region, this is limiting.

We have enhanced our deployment capabilities from what we initially had in 2 ways:

- Requested a larger number of VPCs allowed in us-east-2 (Ohio). Our limit in that region is now 10.
- updated our scripts to

[2019-04-30 18:17] ebporter opened #6 "Achieve full test coverage for dashboard code"

[2019-04-30 18:18] ebporter opened #7 "Achieve full test coverage for video chat code"

[2019-04-30 18:25] adonahue opened #10 "SPIKE: Explore how we will approach the packaging work"
Stage 2 of our refactor is to take the cleaned up code for Riff Video and Riff Dashboard and package it up so it' truly modular and can be called/included from other places, like Riff EDU. We do not currently have a plan for how to approach that packaging work, and this story is to allocate time to investigate what is required and recommend and approach that makes sense for Riff.

** Story Accepta

[2019-04-30 19:04] adonahue opened #12 "Test of changing repos"

[2019-04-30 19:06] adonahue opened #11 "Second test of repo change - zenhub-projects"

[2019-05-01 14:55] adonahue opened #13 "Internal Analytics Reporting"
As a PM, I want to understood how the Riff product is used, so that I have data about what users do. This is important for understanding product use and for how use (or non use) relates to our business objectives.

Brightscout has recommended two analytics tools that can connect to a database, help you build queries, and visualize the results in a dashboard. This reporting would be used internally

[2019-05-01 15:28] ebporter opened #14 "Screensharing: have full screen view of shared screen"
Have the ability to easily change to a full screen view when you're screensharing, using a button or other obvious controller that isn't hidden behind the right-click context menu.

[2019-05-01 15:28] adonahue opened #15 "Business Intelligence"
This epic encompasses work to improve product and business knowledge for Riff. For example, analytics on data, or user experience.

[2019-05-01 15:29] ebporter opened #17 "SPIKE: Look into expanding/extending Auto-retry mechanisms for Riff video connections"
This spike will explore improving the stability of the Riff video chat experience by expanding the window for automatically re-trying or re-establishing unstable peer-to-peer connections and at failure (i.e. can't re-establish a stable connection), establishing a server-brokered connection instead.

[2019-05-01 15:30] ebporter opened #18 "Refactor Feathers database interface to Riff server"
This task is about extracting the Riff API to its own package such that it can be used multiple places in a generic fashion. This would isolate our API from the Feathers "worker" methods. This would also allow us to replace Feathers at some point if we wanted to.

[2019-05-01 15:53] #11 closed

[2019-05-01 16:11] #19 closed

[2019-05-01 16:13] adonahue opened #20 "Stage 3a: Have full test coverage of Riff-rtc packages"
This epic is about improving test coverage of all Riff-rtc packages, including fixing or replacing the currently broken tests.

[2019-05-03 14:48] juliariffgit commented on #13
Has made progress on some of these that were straightforward. Working on getting more info about ones that were more vague. Brec and Mike to discuss strategy for deployment. Meeting set for 5/3 to discuss further.

Currently blocked by product design + deployment questions

[2019-05-03 17:58] adonahue commented on #13
@brecriffs - I think this portion of the work is largely done. Maybe get the repo set up and check your code in, and I think that will be enough to close this out. Does that make sense to you?

Also, please stick an estimate on here for the work you've done. Thx!

[2019-05-03 18:00] adonahue opened #21 "Docker Class, PD"
This story is to allocate time for Brec to do a 10 hour course on using docker. This professional development will help him complete work on the business analytics epic, and develop the skill across other members of the team.

[2019-05-03 18:03] adonahue opened #22 "Docker container for mattermost analytics code"
## Description
Work has been done to select a tool for getting analytic information from our riffedu mattermost
database (mysql), and possibly also from our riffdata database (mongodb). The tool selected
was [metabase](https://metabase.com/).
In addition queries have been created to produce useful reports using metabase.

This story is to create a new repository with all the configuration, documen

[2019-05-03 18:03] adonahue opened #23 "SPIKE: Research Metabase security for cloud-based deployment"

[2019-05-03 18:04] adonahue opened #24 "Business Analytics"
This epic encapsulates work on building our own, internal business and product analytics. For example, custom reporting on user behavior in Riff Edu (Mattermost) and Riff Platform.

[2019-05-03 18:07] #24 closed, assigned to nobody

[2019-05-06 16:08] adonahue opened #25 "Refactor Meeting Mediator"
The Meeting Mediator code does not easily reveal how it uses data and calculates the three aspects of the visualization: The position of the center ball (% of utterances); the thickness of the lines (also % of utterances); and the color of the center ball (how much turn-taking occurs).

Because this functionality is the core part of Riff's unique value, it's important that we know it's measuring a

[2019-05-06 16:12] adonahue commented on #25
![Capture-6.JPG](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/27f5ce2f-6ead-4aad-988c-2eec9d639429)

In this picture, the visualization does not accurately reflect the conversation Jordan and I were having. It indicates that the dynamism is low (light ball color) and that I have dominated the conversation, and this is also reflected in the post-meeting stats. The conversation was

[2019-05-06 17:42] adonahue opened #26 "A11y information for the meeting mediator"
As a non-sighted user, I would like to benefit from the meeting mediator so that I have more information and insight into the dynamics of a conversation.

Story Mockups here: https://drive.google.com/file/d/1T9AE35-FoCZjUbr9tZq2UGO9LJibAdkM/view?usp=sharing

** Context and background**

The MM measures two aspects of a conversation: conversational dominance (as represented by the percentage of "ut

[2019-05-07 16:54] mlippert opened #134 "Dashboard lists/shows meeting w/ only you"
The `My Riffs` page list of meetings includes meetings in which you were the sole
participant.

### Steps to Reproduce
Have a meeting w/ only yourself. It must be a meeting that lasts longer than 2 minutes.
I'm not 100% sure how to create a meeting w/ only yourself.

Leave the meeting and go to the `My Riffs` page. You will see the meeting with metrics
which only include you.

### Expected behavio

[2019-05-07 17:06] adonahue opened #27 "Meeting Mediator, a11y, add data tables"
As a non sighted user, I want to easily access and navigate the data associated with the meeting mediator. I would like a table for the percentage of speaking time and the number of turns, so I can access that information with my screen reader.

Mockups for this design are slide one in this deck: https://drive.google.com/open?id=1T9AE35-FoCZjUbr9tZq2UGO9LJibAdkM

[2019-05-07 17:16] adonahue opened #28 "Meeting Mediator, a11y, info box"
As a user, I would like more information about what the MM does, and what it's telling me. I would like to be able to click an info icon and see an explanation of how it works.

As a PM, I would like this design pattern to match the info boxes on the back of the metrics in the dashboard.

Mockups, slides 2 and 3 here: https://drive.google.com/open?id=1T9AE35-FoCZjUbr9tZq2UGO9LJibAdkM

[2019-05-07 17:23] adonahue opened #29 "Meeting Mediator, a11y, node and video labels"
As a Riff user, I would like more information about what the MM is displaying, so that I have the most useful information.

- I would like to see a text-based association from the node to the video tiles, so that I understand which person is which node, and I don't have to rely on color only.
- I would like to be able to click on a node and see the full username of the person whose data that repre

[2019-05-07 18:53] adonahue opened #30 "SPIKE: Options to monitor and log stability metrics"
As a Riff user, it's important to me to have uninterrupted video and and audio with all the other participants in my meeting, so that I can have a cohesive, uninterrupted conversation.

As a product manager, I want objective stability data that I can correlate with specific users so that I have a way to quantify a "poor" video call because of technical limitations, and cross-reference that with us

[2019-05-08 14:55] juliariffgit commented on #13
Amy added a few new stories to represent additional work we need to do for this.

Brec learned about Docker since last standup, and is getting the Docker composed. Has learned enough to accomplish his tasks.

Plans to finish Docker today and spend tomorrow and Friday wrapping metabase in the Docker container, then will look at new requirements added by Amy. Brec should put estimates on these and a

[2019-05-08 18:44] mlippert commented on #134
A little more research shows that there was actually a 2nd participant in this meeting, you can see the participantEvent object where they joined and later left:
![image](https://user-images.githubusercontent.com/2589356/57399442-3980ec80-719f-11e9-8eaa-cb03325b1731.png)

There is even a TODO comment in the code that I didn't realize was about this exact situation.

Therefore, this is going to req

[2019-05-09 17:13] #5 closed

[2019-05-09 17:45] adonahue opened #31 "Post-Facto Code Review of Dashboard and Chat Refactor"
## Description
This story is to allocate time to review refactored dashboard code, that did not yet get reviewed.

- Review code for structure and style conventions
- Read / review for learning of code and to inform continued refactoring work across the team, e.g. naming choices, global and local variables, type definitions, redundancy, etc.
- Review for clarity and quality

### Dashboard PRs to b

[2019-05-09 17:48] adonahue opened #32 "Brightscout Code Review and Integration, deployment"
This is to allocate Mike's time to integrate the Brightscout survey work.

[2019-05-10 14:43] juliariffgit commented on #13
Reports are functional at this time for Brec to do. Scope looks like it's going to change, so we need to decide how much more work we're going to do.

We still need to test how to export this data.

But this particular story is considered done because it was around tool research and rec. Additional work will be added to new stories.

[2019-05-10 14:46] #13 closed

[2019-05-10 14:46] juliariffgit commented on #21
Knows enough to accomplish story tasks.

[2019-05-10 14:49] juliariffgit commented on #21
We still need an estimate for this. Brec to talk to Beth about this, then add to the story and close. Amy will look into why Brec doesn't have permission to add an estimate.

[2019-05-10 17:58] #21 closed, assigned to brecriffs

[2019-05-10 18:49] adonahue commented on #31
@mlippert - can you attach or reference the PRs for the code that needs to get reviewed?

[2019-05-10 19:22] #12 closed

[2019-05-13 15:39] brecriffs commented on #22
@mlippert I am not sure if I have privileges to create a new repository. Could you create an appropriately named empty repo?

[2019-05-13 18:38] arizzitano commented on #27
https://github.com/rifflearning/riff-rtc/pull/106

[2019-05-14 15:36] arizzitano commented on #27
https://github.com/rifflearning/mattermost-webapp/pull/87

[2019-05-15 14:10] brecriffs commented on #22
Have deployed a working development version to repo 'business-analytics'. Remaining tasks are as follows:
1. Provide documentation on how to run software
2. Create a 'Makefile' to allow for a seamless experience for Riff developers
3. Thoroughly QA sql queries and confirm accuracy of graphs/output
4. Test software with multiple course backups (optional)

[2019-05-16 17:06] adonahue opened #33 "Metabase Reports for Julia"
This story is to allocate time for generating metabase metrics on EDU usage and delivering them to Julia for the purposes of status reporting to NEXT. It includes the following tasks:

- [x] Run and deliver reports on the queries that have already been developed, so that we can see the format and style that gets generated (e.g. graphics, data tables, etc.)
- [x] Review the remaining user stories t

[2019-05-16 17:20] brecriffs commented on #33
Note to self:
Make sure times on graphs are in EST!

[2019-05-20 16:35] adonahue opened #34 "SPIKE: Determine AMT template type"
As a researcher, I need to understand how AMT workers will interact with my experiment, so that I can recruit the correct amount qualified participants.

AMT has templates that are used in the AMT workflow as part of the screening process and we need to determine if one is available, or if we need to create it ourselves.

The screening requirements are:
- English as first language
- do a video cha

[2019-05-20 16:36] adonahue opened #35 "Spike: Determine AMT and experiment web page integration"

[2019-05-20 16:36] adonahue opened #36 "Stub out restricted access experiment website landing page"
As a researcher, I want to create a private page that will be used for experiments, so that we have an area where vetted participants can complete the experiment activity.

Story Acceptance Criteria

- Create a web page at experiments.rifflearning.com that is password protected.

[2019-05-20 16:37] adonahue opened #37 "Determine best method for integrating Riff Video into experiment website"

[2019-05-20 16:39] adonahue opened #38 "Design Experiment"

[2019-05-20 16:40] adonahue opened #39 "Implement experiment design"
This card is to track related to implementing the experiment. It probably should be an epic.

A plan for the the nest steps for implementation is here: https://docs.google.com/document/d/1wRdnZt13mSzFfYAJjmlPCdbVQJu3rdZOjKJXb-Ioqhc/edit

And the more detailed description of the experiment content and methodology is here: https://docs.google.com/document/d/1NjwE9ChCGNzXA1KqNq_jseWDS5fDvrOW9491DTgo8

[2019-05-20 16:40] adonahue opened #40 "Determine how we collect and integrate experiment data with Riff data"

[2019-05-20 16:40] adonahue opened #41 "Power analysis for number of participants"

[2019-05-20 16:41] adonahue opened #42 "Determine budget for paying participants"

[2019-05-20 17:15] adonahue opened #43 "Grant Experiment"
Research Methodology
Experiment Design
Data Collection Methodology
Consent Agreement
Number and Type of Workers Needed
Screening Considerations
Logistics
Experiment Timeline
Compensation for Workers

[2019-05-20 17:26] adonahue opened #44 "Identify and report on all potential data sources for Riff research projects"
As a researcher, I want to understand all the data sources available to me, and their formats, so that I can figure out how to build an integrated data pipeline.

This story is about creating a catalog of all our data resources that John might use for research, so he can hit the ground running when he comes on board. The goal is to be able to put enough information into this document so he has the

[2019-05-20 17:35] adonahue opened #45 "SPIKE: Can we collect and process audio and video from skype using the MS bot framework"
As a PM, I would like to integrate Riff with external data sources, so that I can have access to data and provide added value back in the terms of Riff metrics.

**Story Acceptance Criteria**

- A written determination of the technical feasibility of:
- [ ] If audio and video can be collected from skype and delivered to the bot framework
- [ ] If the bot framework can pass the data to Riff to do m

[2019-05-20 17:36] adonahue opened #46 "SPIKE: Determine if Riff architecture can collect and process an external stream of audio and video"

[2019-05-20 17:37] adonahue opened #47 "Microsoft Bot Framework"
https://dev.botframework.com/

[2019-05-22 13:59] jordanreedie commented on #31
I've looked over Mike's (many) PRs and it all makes sense to me

[2019-05-22 14:19] brecriffs commented on #33
Now meeting with Julia at 2pm on Thursday to output reports

[2019-05-22 14:21] brecriffs commented on #33
Completed 'How many text conversations spin off live video chats' query

Will review/research/implement 'Typical Riff Edu session/usage' today

[2019-05-22 14:29] brecriffs commented on #22
1. Documentation almost complete
2. Makefile complete
3. sql queries have been QA'd by myself
4. multiple course backups/databases has not been tested

[2019-05-23 23:27] mlippert commented on #32
I've deployed the 2nd survey plugin release from Brightscout, [version `v0.3.0`](https://github.com/Brightscout/mattermost-plugin-survey/releases/tag/v0.3.0) to staging.riffedu.com

[2019-05-23 23:29] mlippert commented on #31
I've looked over Jordan's PR and it all looks good, so I've merged it and it is deployed.

[2019-05-24 15:10] #33 closed, assigned to brecriffs

[2019-05-24 18:38] ebporter commented on #22
1 story point of work still to be done by Brec -- to finish documentation, attach the repo to the ZenHub board, do an official pull request into Master.
MIke or Jordan will then test and review the documentation.

[2019-05-24 18:55] juliariffgit commented on #23
@adonahue, we think this has been deprioritized so we put it back into product backlog. Let's decide if we should really put it back in the icebox (Beth's vote is Icebox)

[2019-05-24 18:56] ebporter commented on #8
We're not ready to do this in Sprint 3

[2019-05-24 18:57] ebporter commented on #9
We're not ready to do this in Sprint 3

[2019-05-24 19:08] juliariffgit commented on #45
We need to split this - but this story will have what's going into Sprint 3.

[2019-05-24 19:11] juliariffgit commented on #44
John won't have time to start until the second half of sprint 3.

[2019-05-24 19:17] jaedoucette commented on #44
Reference document = location and/ or example

[2019-05-24 19:20] jaedoucette commented on #44
Brec -> Mattermost
Jordan & Mike -> Riff Data
Beth -> Qualtrix?

[2019-05-24 19:22] jaedoucette commented on #44
Deep dive for next sprint.

Talk to everyone on the team.

[2019-05-27 13:42] brecriffs commented on #22
@mlippert Branch 'develop' will need to be force pushed to 'master' I believe. I started from scratch on the develop branch, and I think they have completely different commit histories. Also, I'm not sure how to attach the branch to this card...or can you only attach PR's?

[2019-05-28 02:56] ebporter commented on #32
Creating another task for Sprint 3

[2019-05-28 02:59] ebporter commented on #32
Closing this issue

[2019-05-28 02:59] #32 closed, assigned to mlippert

[2019-05-28 03:05] ebporter commented on #45
Splitting this into two stories:
1) Determining how to get a stream of data from Skype via the Microsoft Bot Framework and putting together a rapid prototype.
2) Determining how to send a stream of data to a Skype session (i.e. the meeting mediator) via the Bot Framework, again in a rapid prototype.

We'll try to tackle the first of these in Sprint 3.

[2019-05-28 19:42] mlippert opened #48 "Dashboard: Continue Refactoring for modularity"
## Description
Continue making the Riff Platform codebase more consistent, efficient, and understandable.

In particular focus on the **Dashboard** code that displays the Riff meeting metrics.

Stories #78 and #83 started this work. #78 focused on getting a consistent style following the eslint rules that have been put into place. #83 was the story in Sprint 5/13 and the changes made for that stor

[2019-05-29 17:32] brecriffs opened #135 "Profile route still loads, even if not logged in"
## Description

On riff platform the Profile route still loads, even if not logged in. Is an obvious bug. Tries to display user's email address in text, but it is blank.

### Steps to Reproduce

1. Explicitly navigate to 'staging.riffplatform.com/profile' when not logged in

### Expected behavior

I expect this should redirect to the signup or login page if not logged in.

### Screenshots
![Screen

[2019-05-30 14:39] adonahue commented on #135
@brecriffs - in staging when I'm signed out, instead of profile, I see "Sign Up". How did you navigate to this page?

[2019-05-30 15:17] mlippert commented on #135
@brecriffs I was wondering how you created this bug report w/o selecting the bug report template

[2019-05-31 14:01] brecriffs commented on #22
Have responded to some requests from @mlippert. Waiting for feedback.

[2019-05-31 14:40] jordanreedie commented on #45
The Node version of the microsoft bot framework sdk does not support the realtime a/v processing library, which is the one we need. We have to use .NET (C#) for this, which is annoying.

[2019-06-01 23:22] brecriffs commented on #135
Updated description using bug report template.

@adonahue I had to explicitly navigate to staging.riffplatform.com/profile, while not logged in.

@mlippert I just clicked 'New Issue' here in Zenhub and I guess it added the issue to the repo in github as well. Instead of creating a new issue (the organic way in Github, the way you showed me), I copied the bug report template and added it to the des

[2019-06-03 21:10] jaedoucette commented on #44
@adonahue

Before I proceed with making writeups for the other databases, I wanted to confirm that this this is roughly what we had in mind for this task:

https://docs.google.com/document/d/1oiFNiGTsvMTSpuuqotMLAA2VLotsjoEFL2kuncCL1Mw/edit?usp=sharing

[2019-06-04 16:42] jordanreedie commented on #45
Things are looking pretty grim here. All of the "documentation" that presumably used to exist for RealTimeMediaCalling just redirects to its github page (e.g. https://docs.microsoft.com/en-us/bot-framework/dotnet/bot-builder-dotnet-real-time-media-concepts). The repository itself hasn't been updated since last October. It seems they removed the ability for real time media bots to participate in gr

[2019-06-05 14:33] jordanreedie commented on #45
Beth sent an email to a microsoft rep asking what the deal is with this

[2019-06-05 15:13] adonahue commented on #44
@jaedoucette - this looks great, thank you. I updated the story description a little bit for clarity, but you've basically covered all that in what you wrote.

[2019-06-06 14:00] adonahue opened #49 "Network Graph, Data"
As a PM, I want to add a network graph to Riff, so that users have a way to see how much they interact with their teams, and people outside their teams. This metric represents the dual concepts of "engagement and exploration" as it refers to the positive behaviors associated with high-functioning teams.

As a first step, I'd like to just see the data available, to help inform what's possible in te

[2019-06-06 14:00] adonahue opened #50 "Network Graph, Visualization"
This story is part two of the Network Graph metric, and is to build the visualization associated the the available data. The details of the visualization will likely change based on the data available - a concept graphic is attached.

It's anticipated that this will be a piece of work with a lot of iteration between the developer and Product, as we discover what's possible based on the data and th

[2019-06-06 14:00] adonahue opened #51 "Collective Intelligence Metric"
As PM, I would like to add a Collective Intelligence metric to the Riff dashboard, so that we provide additional value about the nature of peoples' conversations.

Research summary and implementation details provided by @jaedoucette, here: https://docs.google.com/document/d/100ALiqYpZ10ON7lkaBdh8a2epcC35jxIlOc7UjZuiLU/edit?ts=5cf924ca#heading=h.tli2vt7k678v

Conceptual Graphic
![image.png](https:/

[2019-06-06 14:01] adonahue opened #52 "Team Energy Metric"
As a PM, I would like to add the "Conversational Energy" (as represented by the center node of the MM) to the post-meeting metrics.

We currently have a calculation on the center node of the MM, that calculates the "energy" of the meeting, based on how many exchanges there are between participants. A high level of energy is represented by a lot of exchanges, and low, conversely. I'd like to use th

[2019-06-06 14:02] adonahue opened #53 "SPIKE: Dashboard and Metrics Design Update"
As a PM, I want an updated and cohesive looking dashboard, so that the product looks slick and professional when we pitch to clients and investors. I also want to be able to produce new metrics quickly and have them match the design aesthetic we choose. Anything that saves us implementation time by using existing design pattern libraries is preferable to coding everything from scratch.

** Story T

[2019-06-06 14:02] adonahue opened #54 "Calendar Navigation"

[2019-06-06 14:02] adonahue opened #55 "Responsiveness Metric"

[2019-06-06 14:03] adonahue opened #56 "Cumulative Metrics"

[2019-06-06 14:05] adonahue opened #57 "Metrics and Dashboard"
This epic encompasses work to update the dashboard from a functional (e.g. navigation) and visual design standpoint (e.g. cohesive color and style for all metrics).  It covers work in both the Platform and Edu products.

**Business Case: **

To improve the sale and promotion of Riff Platform, we need an updated, more cohesive looking dashboard. Specifically, the following should be addressed:

* T

[2019-06-06 15:16] arizzitano commented on #29
PR here: https://github.com/rifflearning/riff-rtc/pull/118

[2019-06-06 15:17] arizzitano commented on #29
Screenshots are in the PR, but I'll add them here too in case anyone would like to take a look: ![image.png](https://images.zenhubusercontent.com/5361a856e26d73e9370005d7/e984a358-daa9-454c-b067-103e7f6360b3) ![image.png](https://images.zenhubusercontent.com/5361a856e26d73e9370005d7/257104e7-e01e-49cb-8419-da241f3732cb)

[2019-06-06 16:20] adonahue commented on #29
Adjustments:

- Add more white space btwn the letter and the outside of the node.
- Adjust letter positioning so letter is always horizontal when the nodes reposition.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/a87fcf2d-2a99-457f-a835-6276431f165a)
- Fix wrapping on the tool tips.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/819854dc-2e

[2019-06-06 16:21] adonahue commented on #29
@arizzitano - this story does also include the usernames on the tiles and the tool tip for the turn count on the center node. LMK if you want to break those out into separate cards, or wrap them up on this.

[2019-06-06 17:32] adonahue commented on #49
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/24a4860b-92d4-4076-8422-b8634848aa8b)

[2019-06-06 17:36] adonahue commented on #50
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/0b74791c-1a26-409a-b3a5-3cb022d1eca7)

[2019-06-06 18:08] adonahue commented on #52
Concept Graphic

![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/3dc39d4c-b1a1-4ab3-8b41-0665b48e561a)

[2019-06-06 18:19] adonahue commented on #52
Concept Graphic
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/f44d4585-4185-4df0-bfbf-e00efe9bf222)

[2019-06-06 19:37] jaedoucette commented on #44
Draft reports have now been completed for most (all?) data sources.

Reports are stored in this folder:

https://drive.google.com/open?id=1heJhIaPWU0fk8nOVcC8xPPSytRQ-mngq

[2019-06-07 12:38] brecriffs commented on #50
A neat library (may be expensive, but we could copy some UX):
https://gojs.net/latest/samples/friendWheel.html

A not bad free one:
http://projectstorm.cloud/react-diagrams/?selectedKind=Simple%20Usage&selectedStory=Locked%20widget&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook%2Fcode%2Fpanel

[2019-06-07 13:42] jaedoucette commented on #44
Ready for review/QA by @adonahue!

[2019-06-07 14:17] adonahue commented on #50
Ooooo - very cool @brecriffs - lots of nice stuff in there.

[2019-06-07 14:21] juliariffgit commented on #49
Love this idea! Since the course splits learners into 2 different team at different points, it would be a nice-to-have to be able to compare the 2 different teams' activity side-by-side, as well.

In addition, if this data could be role-aware, it would be amazing. Staff interaction (like a mentor or TA, which we may be able to tag somehow) might be different from peer-to-peer interaction and might

[2019-06-07 14:22] brecriffs commented on #51
Very cool! I don't completely understand the Math, but luckily that isn't my job!
It might be cool to show the individual intelligence with (u/T-N)*(u/T-N)?

[2019-06-07 14:23] brecriffs commented on #49
The first part of this task, the spreadsheet, seems pretty straightforward.

[2019-06-07 14:24] brecriffs commented on #50
In the visualisation, the square is meant to be the subject? What is the relationship between teams and courses? Are we set on using D3 from scratch for visualisation (question for dev team)? Are the different shades inside nodes depicting different team roles?

[2019-06-07 14:25] brecriffs commented on #52
There are two sets of visualisations. One showing the high and low ends of engagement, and where your meeting is on that spectrum. There is another version of this showing the average, where does the average come from? How will you toggle between these two states?

The second visualisation is a color gradient from the start of the meeting to the end. Are the shades of color depicting high/low ener

[2019-06-07 14:29] juliariffgit commented on #50
Let's see if we can make something that will represent 1 team at the start of the course, and two at the end.

[2019-06-07 14:47] juliariffgit commented on #51
This is so interesting! Is this just turn-taking or does influencing also come into play?

[2019-06-07 14:47] jaedoucette commented on #51
Update: my math was wrong for that scaling-factor part at the end. I _think_ that it'll be under 0.25 in practice, but we might get some really weird cases where it's larger than that. The fix is in two parts. First, use maxV = 0.5. Second, if an individual user's contribution to V is larger than 0.5, just cap it at 0.5.

That kinda hacky. Basically it'll say that any conversation where one person

[2019-06-07 14:49] jaedoucette commented on #51
Regarding the individual scores, yeah, I thought about that. I think the ideal way to visualize it is to graph $DesiredScoreRange/2*max(0.5,(u/T-N))/sqrt(maxV)$ for each user.

Scores from -5 to 0 mean you're not talking enough. Scores from 0 to 5 mean you're talking too much.

The individual scores don't really have a meaning in terms of individual intelligence, but they could help people visuali

[2019-06-07 14:54] juliariffgit commented on #52
Would be awesome to also provide a tip or two near the graphic that would help people adjust and improve for next meeting.

[2019-06-07 16:59] brecriffs commented on #51
Hmm yeah! Would be cool to maybe compare how your individual score affects group scores historically. Like "Hey, when you talk too much it negatively affects your group's score". But there could be some cases where a person talking a little bit more than the average helps the group score. Something like a scrum master ;) That would be helpful to know as well!

[2019-06-10 15:12] ebporter opened #58 "Label "superconnectors" in GT badge network graph/data"
In order to complete the task of developing a report of the badge activity for Grant Thornton, we need to label the superconnectors in the network graph with their attributes: gender, region, role.

[2019-06-10 19:13] adonahue commented on #27
@mlippert - just confirming this is deployed to both EDU and Platform staging. Thx!

[2019-06-10 19:59] adonahue commented on #27
Tested this w. Ari in platform and edu. Accepting these PRs as accepted, and breaking out two pieces of work into a new story.

A revised version of the "turn count" for the center ball, since we don't have a clear value judgement about High and Low energy.

An enhancement to the EDU code that makes the MM a focus-able table, which results in a better screen reading and navigation experience.

[2019-06-10 20:03] adonahue opened #59 "A11y, center ball count, and MM focus for EDU"
As a user, I would like my screen reader to report the turn count on the Meeting Mediator.
As an EDU user, I would would like the MM data table to be a visible, focus-able region, so that I have an easier time navigating the data in the table w. my screen reader.

This story has two pieces of work.

- [ ] The turn count in the Meeting Mediator should read out the following text:
Title: "Total Turn

[2019-06-10 20:04] mlippert commented on #27
@adonahue Yes, the _deployed_ tag on the platform PR means it is deployed to staging.riffplatform.com, and the _deployed_ tag on the edu PR means it is deployed to staging.riffedu.com

[2019-06-10 20:27] mlippert opened #60 "a11y fixes to Edu registration page(s)"
NOTE: This story has been QA'd and needs fixes as described in the comments. It has been moved to the product backlog for now because EDU changes / merges are lower priority right now.

## Description
This story is a carryover from the Riff Trello board story [a11y - Registration `#287`](https://trello.com/c/yA4lEMjs)

The description on that card was just this link:
[2019-02 Riff Accessibility Au

[2019-06-11 13:48] brecriffs commented on #49
After doing some discovery and determining a path of least resistance, I have updated the estimate on this ticket to 3.

[2019-06-11 17:36] adonahue commented on #44
@jaedoucette - I think I've read through everything now. Very helpful! There are a number of outstanding questions, but I think in terms of the work this story represent - getting the documentation and discussion established - this story is done. Marking as complete.

[2019-06-12 14:57] adonahue commented on #29
@arizzitano - looks great, thank you!

Two small change requests, before merge:
1) Some letters (lowercase "j") are still hitting the boarder on the node. Please adjust the padding / font size so that there is padding all around.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/26cfeca3-988d-4de8-93e8-d5d20285eb6b)

2) The color bars look a little heavy - is it possible r

[2019-06-12 15:00] adonahue opened #61 "Data Pipeline Design, Consolidate Data"
This card is to allocate time for @jaedoucette to gather information about Riff data sources and begin to design how all the data need to come together into a system that supports Riff research.

** Steps for collecting data and loading into memory **

Consolidate Data
- [ ] Mike places regular backups of SQL & Mongo data in a "backups" folder on Google Drive.
- [ ] John places supplemental, stati

[2019-06-12 15:02] adonahue opened #62 "Data and AI"
This Epic encompasses work for data aggregation and processing, and AI development, specifically for the purposes of developing Riff technology (not business analytics).

[2019-06-12 18:13] jaedoucette commented on #61
Moved comment to description.

[2019-06-13 16:36] adonahue opened #63 "Fix How Meetings End"
As a user, I perceive a "room" to be the same as a "meeting" and I would like that expectation fulfilled.

- @John Doucette started a meeting (code-review-1), it timed out before @Brec Hanson joined
- When Brec joined, a new meeting (code-review-2) got created for the same "room" (code-review) that John instantiated.
- Because the room was the same, John's utterances got stored in the meeting data

[2019-06-14 13:36] brecriffs commented on #49
Note: In the aggregate table, a reply and direct message could technically refer to the same message resulting in a count of 2 for that message. Similarly, if that message included a mention to that user, that message could incur a count of 3.

It's possible that not counting replies as a direct message is desirable, although it is technically still a direct message in my opinion.

[2019-06-14 14:33] brecriffs commented on #49
Should have 1 more point worth of work on this task.

[2019-06-14 14:34] juliariffgit commented on #22
@jaedoucette, ready for your review!

[2019-06-14 17:58] jaedoucette commented on #22
@juliariffgit @mlippert @brecriffs Is the intention here that I review the work describe in the story (which would have me successfully clone the new repo and reproduce the results from the documentation), or review Brec's code, or both?

If I'm to do code review, can Brec request my review on the relevant PR?

Before I can review the functionality, I think the develop branch needs to be force-pus

[2019-06-14 18:13] mlippert commented on #22
@jaedoucette You should review the functionality and also the code being created to implement it. I requested your review on the PR.

You don't need the code to be in the master branch to do that, just checkout the branch being merged by the PR.

[2019-06-14 18:45] adonahue commented on #49
@brecriffs - I don't totally follow what you're saying here, can you list the sequence of user contacts that results in this double counting?

[2019-06-14 18:54] adonahue commented on #59
This card is work that was originally in Meeting Mediator, a11y, add data tables #27.

[2019-06-14 19:04] adonahue opened #64 "Meeting Mediator, a11y, improvements for EDU"
This story is to port the code in platform, for all the a11y improvements in the Meeting Mediator, to the EDU code base. We would like to have those changes deployed for the next run of the NEXT course.

Those improvements include:
- Tool tips for speaking time and turn count
- names and larger, semi-transparent color bars on the tiles.
- a description on the back of the mediator

Please note, @ar

[2019-06-14 19:22] adonahue commented on #22
I agree w. @jaedoucette's PR review/comment- we don't want to store PII unencrypted on local machines. Not sure what that means in practice, or how we audit for that in what we're currently doing. @jaedoucette - thoughts on what the right approach is? We can also take this conversation out of the comments here. :)

[2019-06-17 13:09] brecriffs commented on #49
Amy sends a DM to Brec. Brec does an official 'reply' to that DM. That reply from Brec will show as 1 in the direct message table AND 1 in the replies table for the Brec to Amy cell in each. And as a result, in the aggregate table, that reply will count as 2, since it is summing the replies and direct messages.

Sorry, I hope that is clearer!

-------
Yes, much clearer @brecriffs . @jaedoucette -

[2019-06-17 15:07] arizzitano commented on #29
Done and done. I kept the opacity at 100% for the name label itself, so contrast shouldn't be an issue. Here are some screenshots: ![image.png](https://images.zenhubusercontent.com/5361a856e26d73e9370005d7/1e2aeaa8-fc44-4603-8222-c65c17db7a0e) ![image.png](https://images.zenhubusercontent.com/5361a856e26d73e9370005d7/c824cdfb-d2f2-4ad0-a98a-4105f2139c30)

[2019-06-17 21:40] jaedoucette commented on #38
A draft design is now up here: https://docs.google.com/document/d/1NjwE9ChCGNzXA1KqNq_jseWDS5fDvrOW9491DTgo8CI/edit?usp=sharing

and ready for review @adonahue

[2019-06-18 14:31] brecriffs commented on #49
I have completed the spreadsheet for all of the participants. In the following Google Drive folder exists the original document that I was editing and manipulating the data with, and another final .xlsx output called 'Network Graph - Course Data.xlsx'.
https://drive.google.com/drive/u/1/folders/1E8k8KKVQeKvDTfMqiYwvRD3TBvl6CJD5

There are comments in cell A1 in each tab describing how to interpret

[2019-06-18 15:43] brecriffs commented on #49
@adonahue As part two for this card, am I correct in saying that you want the above graph, but for each team (plg and capstone)?

[2019-06-19 15:55] adonahue commented on #57
@brecriffs - here is a link to the conceptual redesign of the dashboard.
https://drive.google.com/open?id=1uSoqdZEDtI0DR_urOweDE34U17tocSRW

[2019-06-19 16:00] adonahue commented on #38
Thank you @jaedoucette - I will take a look. @ebporter is the owner for final design approval.

[2019-06-19 21:37] mlippert opened #133 "Timeline isn't showing tick labels on the x-axis"
## Description
On the riff-platform dashboard riff-rtc ver `1.2.0-dev.9` I'm seeing many timelines which dodn't show any ticks or tick labels on the x-axis.

Looking at more timelines, the tick labels that show up are at 00, 15, 30, 45 past the hour.

I do expect some reasonable tick marks/labels.

[2019-06-20 13:22] adonahue opened #65 "Default dashboard view is in the middle of metrics"
After a meeting, or when you click on a meeting from the timeline, the default view of the metrics is in the middle of the page.

### Steps to Reproduce

1. Go to My Riffs in staging. https://staging.riffplatform.com/riffs
2. Click on a meeting from the timeline
3.  See error

### Expected behavior

 The expected behavior is that it be at the top of the page, as it does in Beta https://beta.riffpl

[2019-06-20 14:01] adonahue commented on #136
@mlippert - did you do any work on this during your DB refactor? As you move onto packaging, is this work that @brecriffs could potentially pick up? Will it collide w any of the other packaging or refactor work?

[2019-06-20 14:27] mlippert commented on #136
@adonahue I suppose in some ways I did make progress towards this w/ the DB refactor, but it wasn't really the focus.
I think this story really should remain in the backlog until dashboard packaging is complete.

The only work that might be done is fleshing out the description above. I have some ideas of what is desirable for this, which is just to make it easier from a coding standpoint. But it i

[2019-06-20 17:11] adonahue opened #66 "Data Pipeline Design, Blend and Anonymize Data"
This story is part of our initial data pipeline that will allow us to merge and process all the data from various Riff sources (e.g. mongoDB, Mattermost, Firebase, etc.). It is a precursor to doing analysis on the NEXT Canada course run. This story is to allocate time for writing a script that does the following.

** Tasks: **

- [ ] All CSV sources are joined based on participant ID numbers into

[2019-06-20 17:13] adonahue opened #67 "Data Analysis, NEXT Canada Course."
This story is to allocate time for doing analysis of the NEXT Canada course data. Directional requirements about what the analysis should look for are here: https://docs.google.com/document/d/19HvPJXBceO6NbRXvyR93O79tIHuk3N1TmNuYiH_4XCA/edit?ts=5d0bb181. @adonahue is responsible for providing finalized requirements for this story.

** Perform Analytics (Rough Sketch) **
- Once the master table is

[2019-06-20 17:20] adonahue commented on #61
@jaedoucette - my sense from talking this morning was that this task is done (as written now). If that's the case, please move to the next pipeline on the board. If there are remaining tasks, please add them to the story so we can estimate tomorrow.

The rest of what was in this original story is now in cards #66 and #67.

[2019-06-20 17:23] #42 closed, assigned to nobody

[2019-06-20 17:30] adonahue commented on #38
This story is currently blocked business decisions about the following: To resolve, @adonahue @ebporter and @jaedoucette need to discuss and decide before 6/26.

- [ ] Concerns / implications / alternatives to the proposed Dev work in the current design.
- [ ] Initial power analysis by @jaedoucette suggested a prohibitively large participant group. John will do some additional research to see if a

[2019-06-20 17:32] adonahue opened #68 "Contact research on alternative power analysis options"
@jaedoucette 's initial power analysis indicated a very large number of users would be required to account for the variance in the results. It is possible that an adjustment to how things are measured will reduce that variance in a way that allows us to precede as designed.

This card is to allocate time to contact researchers, and do the analysis on what might be possible given the current experi

[2019-06-20 17:41] jaedoucette commented on #68
Avenues to explore:

[x] Contact Prof. Woolley @ CMU and ask for distributional information about the Group Typing Task.
[x] Contact Gupta or Bates and ask them for distributional information about the Group Typing Task.
[] Find some volunteers (Other Riff'ers, friends or acquaintances) who can spare 10 minutes to try the task with a Google Doc + honor system. Measure typical performance and varia

[2019-06-20 17:44] jaedoucette commented on #61
@adonahue - I need about half a day more work to finalize this initial module, but anticipate moving it to the next pipeline by end of day.

[2019-06-20 19:17] adonahue opened #69 "Implement Styling Recommendations to Refactored Video and DB Code"
After completing the test case of Login and Profile pages, (#111) apply the agreed upon style to the rest of the refactored code.

[2019-06-20 19:24] adonahue opened #70 "Network Graph, Render in EDU Dashboard"
Once we have coded the network graph visualization, and pull live data from Mm, we will need to render it in the EDU dashboard. This piece of work is just for initial rendering, and should take into account that there will be some additional dashboard design that creates a new presentation that allows for individual meeting metrics, as well as longitudinal metrics like the network graph.

** Open

[2019-06-20 19:29] adonahue opened #71 "Network Graph, EDU Dashboard Re-Design"
* As a user, I want to understand why Riff metrics matter in the context of my course, and how I should use them.

Once we have completed the development work on the new network graph metric, we will have some re-design work for the dashboard to incorporate it in a way that makes sense, since currently, metrics are all oriented to individual meetings.

I am working on designs, which include these

[2019-06-20 19:54] adonahue opened #72 "Network Graph, Render with Live Mm Data"
This story is to allocate time to updating the network visualization to use live Mm data, and update in real time.

- [x] Find out how to access the Mm data, via api, and reusable for other graphics.
- [ ] Hook up the data to the visualization.

[2019-06-21 14:16] jaedoucette opened #85 "Add SQL extraction to Datapipeline"

[2019-06-21 14:28] adonahue opened #73 "Additional Dashboard Refactor Work"
This card is to document additional DB refactor work that was discovered and completed as a result of investigating bug #65. This code did not address the bug itself, but did result in additional refactoring of dashboard code.

[2019-06-21 14:28] adonahue commented on #73
Here you go @mlippert - add any other relevant details as needed.

[2019-06-21 15:55] adonahue commented on #65
@arizzitano - can you please take a look at this and see if it's related to the a11y changes, and if so, fix. thx!

[2019-06-21 16:19] adonahue opened #74 "Meeting end time not consistent and probably too long (10 mins)"
A clear and concise description of what the bug is.

### Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Possible Solution

## Context

### Screenshots
If applicable, add screenshots to help explain your problem.

### Site the bug occurred on:

### Desktop (pleas

[2019-06-21 16:23] adonahue opened #75 "Scroll bar inconsistent and non-functional on dashboard"
In chrome, no scroll bar appears on the meeting list, to allow the user to scroll the meeting list while keeping the metrics in view. In FF there is a scroll bar but it doesn't work.

### Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Possible Solution

## Conte

[2019-06-21 17:41] arizzitano commented on #65
The desired functionality here is that focus shifts to the info button *only* after the info box is closed, not every time the component renders. This was a recommendation from the initial audit introduced in https://github.com/rifflearning/riff-rtc/pull/57/files and worked as expected when I audited it in April.

This regression is not related to the recent meeting mediator changes. It looks like

[2019-06-21 17:55] adonahue commented on #64
@brecriffs please estimate this story. We will delay a couple sprints to see if we can just include it in the packaged code.

[2019-06-21 18:27] adonahue commented on #69
We have not reached a decision as a dev team for best approach a styling convention. This should be deferred until we have an approach to styling.

[2019-06-21 19:05] adonahue opened #76 "Code Review: Network Graph, Render with Live Mm Data"
Code Review Time Tracking card for story #72.

** Directions **
- When you begin review on a PR, add your name and estimate for the time you think the code review will take you.
- Track your total time as a running tally in the description (here) of the card.

[2019-06-21 19:07] adonahue opened #77 "Code Review: Data Pipeline Design, Blend and Anonymize Data"
Code Review Time Tracking card for story #66.

** Directions **
- When you begin review on a PR, add your name and estimate for the time you think the code review will take you.
- Track your total time as a running tally in the description (here) of the card.

[2019-06-21 19:08] adonahue opened #78 "Code Review: Network Graph, Visualization"
Code Review Time Tracking card for story #50.

** Directions **
- When you begin review on a PR, add your name and estimate for the time you think the code review will take you.
- Track your total time as a running tally in the description (here) of the card.

[2019-06-21 19:10] adonahue opened #79 "Code Review, Time Tracking"
This Epic represents all the cards that we created specifically for the purpose of tracking the time we spend on code reviews.

[2019-06-21 20:35] mlippert commented on #65
Well that certainly makes more sense @arizzitano . I knew it had nothing to do with the mediator changes. I'll see about making it work like you intended.

[2019-06-23 20:44] ebporter commented on #38
@jaedoucette @adonahue  I've read through the entire Experiment Design document and I'm ready to talk about this in our meeting on Monday morning. I'm generally in favor of what the typing task can help us prove, but I don't want to discount the group moral reasoning task as a viable option either, because it *seems* more closely related to the kind of work that people get together in meetings to

[2019-06-24 16:46] jordanreedie opened #80 "Code Review: Chat Refactor"
Code Review Time Tracking card for story riff-rtc#96 (PR rifflearning/riff-rtc#129 Refactor Chat pt2)

[2019-06-24 17:37] adonahue commented on #38
Have decided to move forward with the Moral Reasoning task for the following reasons:

- It more closely mimics the type of behavior (group discussion for the purpose of decision making) that we expect Riff to be used for.
- It is a reasonable measurement of C.
- It can be used to replicate previous studies of the MM, but in a purely virtual environment (no badges).
- It is a better measure of tur

[2019-06-25 14:50] adonahue opened #81 "Code Review: dashboard refactor pt5"
Code Review Time Tracking card for story #127.

** Directions **
- When you begin review on a PR, add your name and estimate for the time you think the code review will take you.
- Track your total time as a running tally in the description (here) of the card.

[2019-06-25 14:51] adonahue commented on #81
@mlippert @jordanreedie Can you guys please add your code review time to this card? Thanks!

[2019-06-25 15:19] mlippert commented on #81
I think I spent 2-3 hours on this

[2019-06-25 16:09] jordanreedie commented on #81
I spent around 45 minutes I think

[2019-06-25 16:58] jordanreedie commented on #30
Ok, so it looks like there are a few options, but only one of them really seems viable.

The easiest: We go with an off-the-shelf solution for monitoring performance in webrtc applications. There's really only one out there right now (callstats.io). Unfortunately, it costs about $2000 USD per month (list price is 1800 euro). That seems untenable.

This leaves us with two options: Roll our own moni

[2019-06-25 22:55] mlippert commented on #80
So far about 1.5 hours

[2019-06-26 14:22] brecriffs commented on #49
Waiting for feedback on the usability of the course-wide data, and whether or not I should proceed with the team specific data.

If there aren't requirements to have this data in CSV format, it might make sense to move forward with pulling this data directly from the Mattermost API for use with the actual implementation of this graph.

[2019-06-26 14:26] jaedoucette commented on #49
@brecriffs I will want CSV format eventually for some of the analytics, but I think there's no reason it needs to be in that format for visualization purposes.

[2019-06-26 15:21] mlippert commented on #80
Another .5 hours

[2019-06-26 17:20] adonahue opened #82 "Generic Authentication Layer for packaged dashboard and video"

[2019-07-03 13:23] brecriffs commented on #53
# Discovery for amcharts

### Open source
* With OEM license
* Without access to the source code, we are somewhat limited by the out-of-the-box features, however, they are plentiful and I was able to get a quick answer from the community on github regarding an issue I was having

### Ease of integration
* Has react components that can be easily installed view its npm package

### Extensibility
* L

[2019-07-03 13:33] brecriffs commented on #53
![Screenshot from 2019-07-03 09-30-39.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/50b83384-a8e9-402a-a683-e9bb3186c4f3)

Here is a screenshot of some experimentation I've done so far. It will be hard to match the exact design for the Network Graph without having access to the source code. My idea was to have two main nodes. One for you and your team, and another node for the

[2019-07-03 19:11] brecriffs commented on #77
Brec - estimating 2 hours

[2019-07-05 21:36] brecriffs commented on #53
![Screenshot from 2019-07-05 17-35-50.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/3c1268dc-1a9f-4552-85a7-60f0c011b3be)

An example inside edu. No tooltips, more variation in node size.

[2019-07-05 21:41] brecriffs commented on #53
An example inside edu. No labels (just tooltips), more variation in node size.
![Screenshot from 2019-07-05 17-40-55.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/6e38781e-3562-4a98-9d69-4486077dc66e)

[2019-07-08 17:45] jaedoucette commented on #41
@adonahue

I think this is now ready to close, barring further changes to the experiment. Analysis is in the Power Analysis sub-section of this document: https://docs.google.com/document/d/1NjwE9ChCGNzXA1KqNq_jseWDS5fDvrOW9491DTgo8CI/edit?usp=sharing

[2019-07-09 12:26] adonahue commented on #41
Thanks @jaedoucette - can you just add an estimate for the total time you spent on this task?

[2019-07-09 12:27] adonahue commented on #58
@ebporter - this task is complete - yes?

[2019-07-09 12:30] ebporter commented on #58
Yes.

On Tue, Jul 9, 2019, 8:27 AM Amy Donahue <notifications@github.com> wrote:

[2019-07-09 12:54] adonahue commented on #38
@jaedoucette - I'm not complete sure how to close out this story. I think that the original scope of this work is mostly fulfilled. Can we connect to chat?

[2019-07-09 13:15] adonahue commented on #29
Moving this comment to #28, which addresses the info box specifically. The criteria for this story are met.

@arizzitano - When I test this w. Vox / Chrome / PC, The MM box does not take focus, front or back, and the info / close control does not get read out on focus. I now Vox is not a great A11y tool - did you test any of this w. your better tools?

@ebporter - would you mind looking at this qu

[2019-07-09 14:02] jaedoucette commented on #41
I entered 1 for the Zenhub estimate. Including the initial estimate, scoping of the hypotheses, determining the testing involved, and the re-doing of the analysis at the end it _might_ have been a full day of work. Maybe more like 4-6 hours total would be my best guess

[2019-07-09 17:19] adonahue commented on #22
@jaedoucette @brecriffs - I don't think this story has any non-technical pieces for me to review. If that's not the case, please list what they are. Otherwise, if the code / technical review is done to the satisfaction of the dev team, @brecriffs please move this story to Complete / Accepted. Thanks!

[2019-07-09 17:32] adonahue commented on #65
The desired behavior is to replicate the pre- re-factor functionality, which can be observed on Beta.

Tested on staging / Chrome

** Expected Behavior **
- [ ] On hover - for both the meeting date and camera icon - in the navigation list should display the "pointed finger" cursor, indicating that they are a clickable item. In Chrome it it does not, FF is ok.
- [ ] When a meeting is clicked in the

[2019-07-09 17:33] adonahue commented on #65
@mlippert - moving this back to the backlog for you.

[2019-07-09 17:39] adonahue commented on #28
@arizzitano - When I test this w. Vox / Chrome / PC, The MM box does not take focus, front or back, and the info / close control does not get read out on focus. I now Vox is not a great A11y tool - did you test any of this w. your better tools?

@ebporter Test whether this takes focus?

** Text correction **
- [ ] Typo on back of card (and update "click" language). The text on the back of the card

[2019-07-09 17:47] adonahue commented on #59
The center ball and node metadata was not navigable, or readable with Chrome / Vox, which is the screen reading software I have. I can't determine if this is working properly, with a higher quality screen reader. I also tested w. NVDA and could not focus on or navigate the MM.

@arizzitano - when you tested w voice over, were you able to tab to the center ball and have it read the turn count?

[2019-07-09 17:51] adonahue commented on #73
@mlippert - is there anything specific for me to test or review? Thanks!

[2019-07-09 19:14] mlippert commented on #73
If the dashboard still shows the meeting info then I guess this is working.

[2019-07-10 14:51] adonahue commented on #73
Ok, closing out.

[2019-07-10 16:31] jaedoucette commented on #68
This task was addressed by agreement with @ebporter and @adonahue to move to the Group Moral Reasoning task. The power analysis was completed for that task led to favorable results, so no further work on alternatives is required.

[2019-07-10 17:29] adonahue opened #83 "Dashboard Loading Bug"
dashboard.js:245 Action.dashboard.loadRecentMeeting: Error: couldn't retrieve meetings: Timeout: Timeout of 5000ms exceeded calling find on participantEvents
{e: Timeout}
thunk	@	dashboard.js:245
async function (async)
thunk	@	dashboard.js:168
(anonymous)	@	index.js:9
dispatch	@	redux.js:619
(anonymous)	@	dashboard.js:249
setTimeout (async)
thunk	@	dashboard.js:249
async function (async)
thunk	@	d

[2019-07-10 18:43] adonahue commented on #133
Post discussion w. @mlippert on the testing notes in PR rifflearning/riff-rtc#126, the requested change is:

On the timeline, do not display start and end times. Instead, evenly distribute the tick marks and label each one.

[2019-07-10 20:48] mlippert opened #84 "Possible performance improvement retrieving records from riffdata server"
## Description
Add indexes to a couple of collections in the hopes of improving performance and reducing the timeouts we've been seeing.

Additionally update all packages to their latest minor/patch versions and all packages that don't require code changes to their latest major versions.

[2019-07-11 14:12] adonahue commented on #53
@brecriffs - from my perspective, this spike is complete, given that we've made a decision to license amCharts. Anything else that you think this story requires, or can I close it?

[2019-07-11 14:15] brecriffs commented on #53
@adonahue Agreed, I think it can be closed.

[2019-07-11 14:16] adonahue commented on #49
@brecriffs - given that you've moved on to grabbing live data - I think this story can be considered complete, yes?

[2019-07-11 14:19] adonahue commented on #38
This story is complete, we are now moving into the phase of figuring out how to implement the experiment.

[2019-07-11 14:24] adonahue commented on #68
Thanks @jaedoucette - closing.

[2019-07-11 14:25] adonahue commented on #50
Adding comments from story #53, b/c I think they're helpful here as well. From @brecriffs ...

[2019-07-11 14:25] adonahue commented on #50
![Screenshot from 2019-07-03 09-30-39.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/50b83384-a8e9-402a-a683-e9bb3186c4f3)

Here is a screenshot of some experimentation I've done so far. It will be hard to match the exact design for the Network Graph without having access to the source code. My idea was to have two main nodes. One for you and your team, and another node for the

[2019-07-11 14:26] adonahue commented on #50
An example inside edu. No labels (just tooltips), more variation in node size.
![Screenshot from 2019-07-05 17-40-55.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/6e38781e-3562-4a98-9d69-4486077dc66e)

[2019-07-11 14:36] brecriffs commented on #49
@adonahue Yeah, agreed.

[2019-07-11 17:04] jaedoucette opened #86 "IRB Proposal"
Now that a MVE has been (mostly) designed, it's time to prepare a draft IRB proposal.

- [x] Finalize the unresolved details of queuing system choice and labour to oversee experiment.
- [x] Prepare draft IRB proposal

[2019-07-11 21:21] jaedoucette commented on #66
CSV & SQL extraction are now both functional.

Blocked waiting for review of the CSV feature before making PR for the SQL feature that builds on top of it.

[2019-07-11 21:25] jaedoucette commented on #67
Preliminary results in this document: https://docs.google.com/document/d/1Mp1sVU-FYZrxEPVvmi0W-UAmIiLCUZpH9sefTNNdMsc/edit?usp=sharing

Results are fully scripted. Next tasks:

[X] Create a template for a user-readable report (Tex perhaps?).
[X] Map results to report template.
[] Automatically upload reports to a shared directory on Google Drive
[x] Add Reports on early Riff Video usage
[x] Add re

[2019-07-11 21:27] jaedoucette commented on #85
Ready for review / merge, but blocked on review of CSV component of data pipeline (#77)

[2019-07-12 02:30] mlippert commented on #77
2-3 hours spent reviewing.

Why is the PR for the functionality attached to the Code Review story? Isn't there a story for the implementation?

[2019-07-12 15:47] adonahue commented on #70
@brecriffs - you've done some or all of this work, and presumably tracked it on story #72? Does it make sense to just keep everything there, or does this card have any use for identifying the distinct piece of (rough) dashboard work.

I've now added some questions to this story about how to finish the work, so keeping this card for the moment.

[2019-07-12 16:18] adonahue opened #87 "Implement Video / Audio Improvements for EDU"
* As a learner, I can't use Riff to do my group work in the course, unless there is stable audio and video for my entire team. My team will pick a different format to meet if Riff doesn't work.

* As a user, if Riff throttles my bandwidth automatically, and my video degrades too much, I will be mad that I don't have any control over that part of my user experience.

The goal of this story is to im

[2019-07-12 16:55] mlippert commented on #87
I see a lot of goals but not actually any work, I'm guessing this is because what to do is dependent on what is determined by those spikes? In which case shouldn't they be listed as dependencies, and is this story ready to be in a sprint?

[2019-07-12 17:00] jaedoucette commented on #81
If this was Jordan's big PR, I have it as 3 hours.

[2019-07-12 17:02] jaedoucette commented on #31
If this was the one Brec & I did together, I believe it was 5 hours of review.

[2019-07-12 17:05] jaedoucette commented on #77
4.5 hours spent addressing review comments on this for the 2 features.

@mlippert There is/was a code review story, but I wasn't sure whether to associate with the original card or the code review card (the zenhub plugin only allows 1?). Probably the code review card is the right choice in future.

[2019-07-12 17:12] mlippert commented on #71
Might I also suggest that the scrolling list of metrics for past meetings is not a good way to go, and that I think it would be better to have some way to select the meeting you want to see metrics for.

[2019-07-12 17:58] jaedoucette opened #91 "Implement Changes to Simple Web RTC API to enable bandwidth throttling"
This story is to allocate time for the technical work that underlies the feature for automatically throttling video when a users has low bandwidth in order to improve the stability of their Riff call for a better UX.

** acceptance criteria **
- [ ] Have a function in the simplewebrtc api to limit the bitrate of the outgoing video streams
- [ ] Code review of API changes

[2019-07-12 17:59] jaedoucette commented on #87
Task breakdown:

- Frontloading of tasks (https://app.zenhub.com/workspaces/riff-projects-5cb6029b4103d93ceadf001b/issues/rifflearning/riff-rtc/132)

- The 5-ish things here.

- Test planning

[2019-07-12 18:10] jaedoucette commented on #28
tab focus is missing from this, and needs to be added?

[2019-07-12 18:16] juliariffgit commented on #28
We'll get a license for JAWS and then test. Beth to take this action.

[2019-07-12 18:26] adonahue opened #88 "Mm tabs focus and text changes"

[2019-07-12 18:26] adonahue opened #89 "A11y testing infrastructure"
This card is to allocate time to develop a11y testing skills and infrastructure on the Riff team. Currently, we do not have anyone with expertise on how to test for a11y compliance, and who knows how to use industry-standard tools (JAWS, NVDA, VoiceOver) proficiently. We also do not have a universally available set of tools for a11y testing available to any one person (e.g. both windows and iOS).

[2019-07-12 18:27] juliariffgit commented on #28
This estimate is JUST for the small text and tab changes. Not for testing. New card being created for testing.

[2019-07-12 18:56] juliariffgit commented on #70
will split research/weighting question into another card.

[2019-07-12 19:06] jaedoucette commented on #39
Todo: Research Automation / cheap labour tradeoffs.

Then more things...

[2019-07-12 19:08] adonahue commented on #70
Break out into different stories:

- Visual enhancements
- Getting and integrating Riff video data

[2019-07-12 19:09] adonahue opened #90 "Test plan and infrastructure requirements for Riff Video stability improvements"
This story is to allocate time to develop a test plan for our stability improvements, and to schedule time for multi-user testing.

** Test Plan **
https://drive.google.com/open?id=1rHE38URRI3h9ExLULgvZ4nI_Gv556Hdn1-CRs5I63Mo

[2019-07-12 19:19] arizzitano commented on #28
Hi folks. When I implemented this, I tested it with VoiceOver, which is what I use to test all my code. I was able to shift focus to 1) the info box heading, 2) the info button, 3) the contents of the info box (when the info button is selected via keyboard). Here are some screenshots of VoiceOver focus on these elements:

![image](https://user-images.githubusercontent.com/491289/61151376-cf910600-

[2019-07-12 19:25] #27 closed, assigned to arizzitano

[2019-07-12 19:25] #29 closed, assigned to arizzitano

[2019-07-12 19:25] #38 closed, assigned to jaedoucette

[2019-07-12 19:25] #41 closed, assigned to jaedoucette

[2019-07-12 19:26] #44 closed, assigned to jaedoucette

[2019-07-12 19:26] #45 closed, assigned to jordanreedie

[2019-07-12 19:26] #49 closed, assigned to brecriffs

[2019-07-12 19:26] #53 closed, assigned to brecriffs

[2019-07-12 19:26] #58 closed, assigned to jordanreedie

[2019-07-12 19:26] #61 closed, assigned to mlippert, jaedoucette, brecriffs

[2019-07-12 19:26] #68 closed, assigned to jaedoucette

[2019-07-12 19:26] #73 closed, assigned to mlippert

[2019-07-12 19:26] #81 closed, assigned to nobody

[2019-07-12 19:26] #31 closed, assigned to mlippert, jordanreedie

[2019-07-12 19:33] jaedoucette commented on #67
@ebporter @juliariffgit

Not super urgent, but I need some extra information about how the Next course was run before I can finalize conclusions for parts of this, and in order to be confident about the data:

1. Did students have to use Riff video chat for any reason? (e.g. a mandatory assignment? An optional assignment?)

2. Were students explicitly encouraged to use Riff to make video calls dur

[2019-07-12 19:40] mlippert commented on #77
@jaedoucette I believe that PR's should be associated with the story that describes the work they are implementing.

THIS is a code review story, I think the PR should NOT be attached to this story, it should be attached to the original story.

 The description of a Code Review story should link to the PR that is supposed to be reviewed I guess. As I said I found it all a pain to deal with.

[2019-07-12 19:48] jaedoucette commented on #77
@mlippert Got it. I misread the name (missed the "Code Review"). In future I will link the PR to the issues, and not to the code review stories.

This makes me think we should just have one card, and leave estimated hours spent in code review attached to it. That creates a record, but fits better with out existing automation.

[2019-07-12 20:04] arizzitano commented on #59
@adonahue the "turns taken" caption exists within the data table below the mediator, and I was able to read that out using VoiceOver (added in https://github.com/rifflearning/riff-rtc/pull/123).

I intentionally did not add tab or keyboard focus to the _visible_ mediator nodes and center ball, because that data is already available in the mediator data tables down below. I wouldn't recommend dupli

[2019-07-15 14:33] adonahue commented on #39
@jaedoucette - how are we handling the time you allocate to this? Do we need to put an estimate on it?

[2019-07-15 15:03] adonahue commented on #28
Thanks very much for the clarification @arizzitano . It sounds like the "problems" I found are really just a result of me not being a very proficient a11y tester. Based on your description and screen shots, it looks like this meets a11y requirements, and I am going to mark as complete.
@ebporter

[2019-07-15 15:04] adonahue commented on #59
Thanks very much for the clarification @arizzitano . It sounds like the "problems" I found are really just a result of me not being a very proficient a11y tester. Based on your comments, it looks like this meets a11y requirements, and I am going to mark as complete.
@ebporter

[2019-07-15 15:09] jaedoucette commented on #39
@adonahue I'm thinking this is really more of an epic, rather than a single story. I can make cards as I start to work on the different elements perhaps? The breakdown might be:

[] Research Automation or cheap labour options (2 points)
[] Find a suitable queuing / meeting room provider.  (2 points)
[] Make surveys in Qualtrix (3 points)
[] Figure out Qualtrix calendar feature (1 point)
[] Make an

[2019-07-15 15:24] jaedoucette opened #92 "Research Automation or cheap labour options"
@jaedoucette commented on [Mon Jul 15 2019](https://github.com/rifflearning/riff-docker/issues/10)

Determine the viability of performing the minimum viable experiment using undergraduate or graduate student labour in a cheap locale, by recruiting through interested academic partners.

We need 5-10 undergraduates, ideally upperclassmen in a subject like psych, who can facilitate 4-8 groups each. W

[2019-07-15 15:36] adonahue opened #93 "Text correction on MM info box"
** Text correction **
- [x] Typo on back of card (and update "click" language). The text on the back of the card should be replaced with the following:

The Meeting Mediator provides real-time feedback about the last five minutes of your conversation. Thick lines and proximity to the central node indicate conversational dominance. Hover over a node to see how much a person has spoken. The center n

[2019-07-15 17:49] adonahue commented on #39
@jaedoucette - that makes sense to me. I also think it makes sense to track them on the board since it will be a substantial amount of your time.

Since, as the PI, @ebporter is going to handle the oversight of the experiment, I think it makes sense for the two of you to more or less manage the cards for this epic. I want to understand it to the extent that I know how much of your capacity is left

[2019-07-15 18:04] ebporter commented on #39
Yes, makes sense to me.

On Mon, Jul 15, 2019 at 1:49 PM Amy Donahue <notifications@github.com>
wrote:

[2019-07-15 18:23] jaedoucette opened #94 "Find a suitable queuing / meeting room provider."
Find a queuing / meeting room provider.

Needed features:

 - Participants can join an announce-only channel moderated by our facilitators.
 - Participants cannot make their own channels
 - We can display (via bot) a welcome message when new users join.
 - We can make new channels for just some participants.
 - We can launch Riff easily.

This all sounds like RiffEDU. Todo:
[x] Ask Mike about the

[2019-07-15 18:27] jaedoucette opened #95 "Figure out Qualtrix calendar feature"
https://www.qualtrics.com/support/survey-platform/common-use-cases-rc/appointment-event-registration-surveys/

[2019-07-15 18:39] jaedoucette opened #96 "Make surveys in Qualtrix"
- [x] Make the Recruitment Survey, which should screen users and send them calendar invitation emails.
- [x] Make the pre-activity intake survey, which should include:
- An interpersonal dominance scale
   -> Took scale from Burgoon, Johnson, & Koch _The Nature and Measurement of Interpersonal Dominance_
   -> Selected only those questions that load on factor #2 in the four factor model (Conversat

[2019-07-15 18:45] jaedoucette opened #97 "Make an MTurk HIT for recruitment (1 points)"
Make a HIT. It's easy!

[2019-07-15 19:01] jaedoucette opened #98 "Spike: Design / implement the document display feature for Riff"
To execute the planned experiment design, it must be possible to display a shared document (or documents) alongside a Riff video chat instance. This allows users to read information while still being able to closely simulate a face-to-face conversation, and still ensuring that users can see the meeting mediator.

TODO:
[x] Talk with Mike about how feasible options, and estimate build time.
[x] Mak

[2019-07-16 13:55] jaedoucette commented on #92
I consulted with Colin at Dalhousie, who put me in touch with Aaron Newman and Cindy Hamon-Hill in Dal's Psych/Neuroscience department.

This department has several dozen undergraduate students who are both upperclassmen and have completed research methods training, who are active on a "volunteer list" for research assistants. The department believes they could filter this to only the students who

[2019-07-16 14:31] adonahue commented on #94
@jaedoucette - I don't think Riff EDU has the ability to let user's join anonymously, but it's possible there's a setting in Mattermost that does allow that. If not, participants would have to register to get into chat, which might increase the drop rate.

[2019-07-16 15:03] jaedoucette commented on #94
@adonahue Looks like you're right. There's an outstanding feature request [here](https://api.mattermost.com/#tag/users), and various plugins like [HybridChat ](https://hybrid.chat/) that claim to offer some kind of integration for this.

We could potentially automate the registration process (mattermost API has a [simple function for this](https://api.mattermost.com/#tag/users%2Fpaths%2F~1users%2F

[2019-07-16 15:07] adonahue commented on #90
@jordanreedie - can you help me add in what else should be part of our test plan? And I think this makes sense to do once you've got the initial technical work done, so we can determine how much we can successfully do behind the scenes, or if we need to give the user some control. Does that make sense to you?

[2019-07-16 15:19] adonahue commented on #133
@mlippert - did you make the change we landed on, or should I move this back into the sprint backlog? Thanks!

[2019-07-16 16:13] ebporter commented on #92
I have not yet heard back from Ontario Tech, but my contact there is on
vacation... will update here when I learn more.

On Tue, Jul 16, 2019 at 9:55 AM John Doucette <notifications@github.com>
wrote:

[2019-07-16 16:31] mlippert commented on #133
All your comments were on some other story?

[2019-07-16 17:03] adonahue commented on #133
@mlippert - they're on the attached PR, rifflearning/riff-rtc#126.

[2019-07-16 17:22] adonahue commented on #94
@jaedoucette I have some notes at the bottom of the MVE document. But in short, I think we will lose users attention while they're waiting and it will be hard to ping them to get it back. I'm also worried that it will be hard to group users and route them to their Riff room.

[2019-07-16 17:38] mlippert commented on #133
oh sorry, and to answer you question, I just looked to see if I had a branch w/ changes for this, and I don't. So I'll move it to the sprint backlog.

[2019-07-16 18:14] jaedoucette commented on #94
@adonahue Right, sorry, I'd seen that and forgotten about it.

That makes sense to me. I _think_ Mattermost supports OAuth, and I think Amazon provides an Oauth2.0 login? In that case, maybe the signup & login process could be made pretty seemless: they'd have to be signed in to MTurk initially, so we can have them 'create' an account with 1 click (link Amazon to Oauth) and then 'login' next time

[2019-07-16 18:40] adonahue commented on #87
For the message display, please use the same design pattern that we use on the log in page: a rounded rectangle that contains text, dismissable by the user.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/415574e7-86df-4142-82a7-21f21717503e)

[2019-07-16 18:56] adonahue commented on #133
Thanks @mlippert .

[2019-07-17 13:02] jaedoucette opened #99 "Code Review of next-analytics PR #5"
@jaedoucette commented on [Wed Jul 17 2019](https://github.com/rifflearning/next-analytics/issues/6)

Code review card for PR https://github.com/rifflearning/next-analytics/pull/5

associated with Zenhub card #85.

[2019-07-17 14:37] brecriffs commented on #72
@adonahue This might be complete?

[2019-07-17 15:18] juliariffgit commented on #67
Hey, @jaedoucette.

Answers for you:

1. While they had a number of assignments that prompted and encouraged them to use Riff Video, they would have been able to complete all mandatory assignments by using some other type of collaboration tool, like a hangout or conference call.

2. This is a bit complicated, so I'll try to write it here but if we need to chat it through, just let me know. In a nu

[2019-07-17 21:16] jaedoucette commented on #67
@juliariffgit Thanks, this is super helpful. Some followups:

Replies to 1 & 2 make perfect sense to me.

3. My datasets list _two_ variables: "Certificate Eligible" and "Certificate Delivered". Is there a distinction between these two?

4. Hmm. The "cohort" field of the datasets has one entry for "Capstone Mentors", and others for various kinds of staff. When you say they joined the student cohor

[2019-07-17 21:21] juliariffgit commented on #67
3. Ah. Yes. This is because of openedx/Appsembler. Each student who is eligible has to request their cert in order for it to generate. Some learners invariably forget to do this. So everyone "eligible" earned it, but only those "delivered" are actually appearing on Dashboards. There is no way to auto-deliver the missing ones (sigh)

4. I see. So..."cohort" is an appsembler/openedx construct. I tri

[2019-07-17 21:29] jaedoucette commented on #67
@juliariffgit  Okay. 3 Makes sense now.

For point 4, I _think_ that should be okay. As long as the openedx cohorts are correct, I can filter out staff from the mattermost data fine. The big thing is whether the openedx cohorts can be trusted. It sounds like they can be, even if Mattermost rooms might not be?

[2019-07-18 14:44] jaedoucette commented on #94
Checked additional options:

Rocket.io
  -  Supports anonymous users, some kinds of queuing, but poor notification support and detection of user being online?

Zulip:
  - No true support for anonymous users, and so doesn't appear much better than MatterMost.

Riot:
  - Supports anonymous reading, but doesn't display anonymous users as present, and requires them to create an account in order to do

[2019-07-18 15:22] adonahue commented on #72
@brecriffs - I think as a proof of concept it is. The code all still needs to get merged though, yeah?

[2019-07-18 16:06] jaedoucette commented on #95
This turns out to be pretty easy.

You make a multiple choice question with each answer as a timeslot name.

Then make a quota for each answer.

Then make logic entries for each answer.

Send emails by exploiting the thank you system.

[2019-07-18 16:25] brecriffs commented on #72
You're right. After reconsidering, I think the first one is definitely done, but the second has not been merged yet. It's possible we should start a new card or set of cards to track the new and fully(almost) vetted task.

[2019-07-18 18:50] adonahue commented on #72
Agree @brecriffs - I will write new stories for the updated UI on the graphic and the rules for all the queries. But I think once all relevant code for this story is merged, we can consider it done.

[2019-07-19 13:22] jaedoucette commented on #99
I spent no more than 30 minutes on review work related to this PR.

[2019-07-22 15:20] adonahue opened #100 "Basic Graph Design"
As a user, I want to see how well I'm connecting with my group members and other people in the course, so that I can be an engaged and successful learner and do well in the course.

** Story Acceptance Criteria **
The goal for this story is to implement the basic node structure and colors for each cluster.

* A design for this story is here, Wireframe: "Network graph 2" Version: "Basic Graph Desig

[2019-07-22 15:21] adonahue opened #101 "Contact Counts"
As a user, I want to see the totals of my contact counts, so that I have more information about who I'm connecting with the most and the least.

** Story Acceptance Criteria **
The goal of this story is to write all the count functionality and display the count totals for each node, at all three levels (individual, group/course, and user), using live course data.
* A design for this story is here,

[2019-07-22 15:21] adonahue opened #102 "Network Graph, Basic Tooltip"
As a user, it's more useful to me to have more information about who I connect with, so that I understand how I'm interacting with my peers.

** Story Acceptance Criteria **
The goal of this story is to add basic tool tip functionality that displays user information for each node.
* A design for this story is here, Wireframe: "Network graph 2" Version: "Basic Tooltip"
https://drive.google.com/open

[2019-07-22 15:21] adonahue opened #103 "Dashboard Updates"
As a user, I want to understand the purpose of Riff metrics and how to use them as part of my course experience, so that I get the most benefit out Riff in my learning experience.

** Story Acceptance Criteria **
The goal of this story is to update the EDU dashboard to include the Network Graph more overall framing and context of how to use the Riff dashboard and metrics.
* A design for this story

[2019-07-22 15:21] adonahue opened #104 "Recommendations"

[2019-07-22 15:21] adonahue opened #105 "Advanced Styling"
As a user, I prefer layers of information in my Riff metrics, so that I can explore and learn more as I interact with my dashboard.

** Story Acceptance Criteria **
The goal of this story is to add in additional styling and functionality to the network graph and meeting data.
*** Network Graph ***
* A design for this story is here, Wireframe: "Network graph 2" Version: "Advanced Graph"
https://dri

[2019-07-22 15:23] adonahue opened #106 "EDU Dashboard Update"
This epic contains the updates to introduce a network graph to EDU, and revise the dashboard to account for the new metric, and better position Riff metrics overall.

[2019-07-22 16:23] adonahue opened #107 "Network Graph, Card "Filp" Functionality"
As a user, I expect to interact with all my Riff metrics in a similar way, so that I don't get confused by different design patterns.

** Story acceptance criteria **
The goal of this story is to add the "flip" functionality that Riff metrics have to show an explanation of the data on the back of the card.

- [x] Add in info icon in the top right corner to flip the card.
- [ ] Icon should be selec

[2019-07-22 18:51] #71 closed, assigned to adonahue

[2019-07-22 20:08] jaedoucette opened #108 "Code Review for Next Analytics PR #7"
https://github.com/rifflearning/next-analytics/compare/feature/riff-usage-analytics?expand=1

[2019-07-23 15:52] #83 closed, assigned to nobody

[2019-07-23 15:52] ebporter opened #109 "Deploy Badge Server for MIT Poly Sci team"
This is a placeholder card for the work involved in deploying the badge server for the MIT Poly Sci team, which may also include:
- configuring an Android phone with the data collector/meeting mediator on it
- helping them configure a Rasp pi for data collecting (to serve as a Hub)

[2019-07-23 16:38] jaedoucette opened #110 "Code Review for Next Analytics PR #8"
https://github.com/rifflearning/next-analytics/pull/8

[2019-07-23 21:09] jaedoucette commented on #67
@adonahue I think this was probably larger than my estimate of 13, and that we should split it into smaller stories.

My suggestion is to leave this one as-is, with an estimate of 13, and the following featureset:

[X] Create a template for a user-readable report (Tex perhaps?).
[X] Map results to report template.
[X] Add Reports on early Riff Video usage
[X] Add reporting on course completion (vi

[2019-07-24 15:00] adonahue commented on #67
Yes that sounds good to me, thank you @jaedoucette !

[2019-07-24 15:30] jaedoucette opened #111 "Automatically upload next-analytics reports to a shared directory on Google Drive"
## User Stories
As a scientist John would eventually like Riff's datapipeline to produce scientific and business reports in real time, automatically, so that when Riff has many clients, regular insights can be created. Most of this is automated, but John still has to take the finished reports and manually distribute them to interested people. John would like this to happen automatically. John want

[2019-07-24 16:24] jaedoucette opened #112 "Generate next-analytics Reports on Riff Text Interaction"
## User Stories

As a scientist, John wants to know whether speaking to other people more often in RiffEDU is related to doing well in a Riff course, so that he can tell the NSF how great we are and convince the NSF to give us a swimming pool of cash to fund future research projects.

Edith is a senior executive for a company that makes razor sharp metal drinking straws. Edith has commissioned a R

[2019-07-24 16:39] jaedoucette opened #113 "Add next-analytics Reports Based on Demographic Features"
## User Stories

As a scientist, John wants to understand the relationships between demographic factors in RiffEDU courses and student success, so that he can compare the quality of models based on demographic factors to the quality of models based only on interaction factors. By making this comparison, John will satisfy one of the proposed features in Riff's NSF SBIR grant.

Bintang works as seni

[2019-07-24 16:51] jaedoucette opened #114 "Add next-analytics reports based on customer satisfaction."
## User Stories

As a scientist, John wants to understand how usage of RiffEDU changes or relates to the satisfaction of educational customers, so that he can show the NSF how great Riff is, and win more grant money.

As VP of customer experience at Courdacity Inc., Natalie wants to sell virtual certificates to 20% more people than last quarter, to win a big promotion, allowing her to rent a whole

[2019-07-24 16:58] jaedoucette opened #115 "Add next-analytics Reports on Changes in Conversational Patterns of Groups Over Time"
## User Stories

As principal scientist at Riff, John wants to determine whether we can predict anything about a group's effectiveness in the future by looking at how they are talking now, or how their patterns of speech change over time. He wants to use this to create predictive models that could tell Riff users how well their group has "gelled" and estimate how much longer they'll have to keep w

[2019-07-24 21:33] jaedoucette opened #116 "Spin up a RiffEDU instance for grant experiment testing"
It is believed that RiffEDU can be hackily used to provide a queuing-like capability needed for the grant experiment. A test instance of RiffEDU is needed to confirm this.

  [ ]  Mike will spin up a Riff EDU instance on AWS with John as admin.

Acceptance criteria: John is able to access a separate RiffEDU instance, and sign in with administrative privileges.

[2019-07-24 21:36] jaedoucette opened #117 "Spike: Assess & Document Amazon OAuth config in RiffEDU"
This card is a continuation of zenhub issue #94 (https://app.zenhub.com/workspaces/riff-projects-5cb6029b4103d93ceadf001b/issues/rifflearning/zenhub/94).

We believe that Mattermost supports OAuth2, and that Amazon provides an OAuth2 single-sign-on service, as documented here: https://docs.mattermost.com/developer/oauth-2-0-applications.html

[ ] John will go in and poke around in a RiffEDU test i

[2019-07-24 21:43] jaedoucette opened #118 "Spike: Check RiffEDU permission capabilities"
It is thought that we can hackily use a RiffEDU instance to emulate a queue for the grant experiment.

To emulate this, we would need to:
[ ] Prevent all users except a specified subset from creating channels
[ ] Prevent all users except a specified subset from sending DMs.
[ ] Ensure that all new users are automatically added to an "announcements" channel (*This is already the default -- is there

[2019-07-24 22:18] jaedoucette opened #119 "Shared Google Doc Scratch-space within a RiffEDU Grant Experiment Video Meeting"
## User Stories

As a user, John wants to supervise the research of Jillian, a free-spirited computer science senior. Jillian doesn't believe in indoor spaces, and will only work on isolated stretches of beach in Florida or Massachusetts, where her feet can be free of the oppression of shoes. John wants to use Riff to hold online meetings with Jillian but needs to be able to take notes and share i

[2019-07-25 13:26] jaedoucette commented on #98
Spike completed, followup work in Zenhub #116 and #119.

[2019-07-25 13:28] jaedoucette commented on #94
Spike complete, and the decision is to go with a RiffEDU instance, and give up on the anonymous authentication feature. Followup work in Zenhub #116, #117, and #118.

[2019-07-25 14:29] adonahue opened #120 "Background P2P Connection Retry"
As a user, if my Riff connection is unstable, I'd like Riff to just fix it so that I can continue to meet with my group with as little interruption as possible. I don't want to waste time waiting to see if the my audio and video unfreeze, or have to decide if I should just leave and rejoin the meeting to try to fix it myself. I'd like to know that Riff is doing something about it, so I have some e

[2019-07-25 14:47] adonahue opened #121 "SPIKE: Speech Recognition (signal processing) Validation"
As a Riff Developer, I am not confident that our speech detection is working correctly, based on the code that I've seen. Specifically, I'm concerned that we are not properly detecting actual speech versus other ambient noise (such as doors slamming, dogs barking, etc), and this results in lower quality data that could impact the accuracy of our analytics.

I would like to look at other speech det

[2019-07-25 15:07] adonahue opened #122 "SPIKE: Highest Value Facial / Gestural Signals"
As a PM, I know that turning on facial / gestural recognition in our software is a complicated feature. I also believe that capturing that data would allow us to develop more sophisticated analytics, that would add value to our product. I would like to understand which gestures (smiling, nodding, raising eyebrows, leaning in, etc.) are the most valuable in the short term for new Riff metrics, and

[2019-07-25 15:27] adonahue opened #123 "SPIKE: Implementation Options for Facial / Gestural Tracking"
As a PM, I know that turning on facial / gestural recognition in our software is a complicated feature. I also believe that capturing that data would allow us to develop more sophisticated analytics, that would add value to our product.

Our current implementation is client-side, and requires so much processing that it results in a poor UX. We chose to implement it client side because 1) it is inl

[2019-07-25 15:46] adonahue opened #124 "Update Riff Beta to Riff Demo"
As the CEO, I want to have a polished demo site that I can share with potential clients and investors, once I have socialized them to Riff, so that they can try the product. I would also like these changes to be added to our Platform code base, so that every new deployment of Riff Platform has these changes reflected.

I want the updates to serve the following audiences:
* A public demo site peopl

[2019-07-25 15:50] adonahue opened #125 "Post-Meeting Survey of Subjective Experience"
This story is about offering a post-meeting survey to capture the subjective meeting experience of the user, so that it can be compared to Riff meeting data in order to see how they align. This will be used to develop a new EQ metric for Riff.

Notes:
* The business value and priority of the this metric is not know.
* We are gathering some information like this in the second run of the NEXT course

[2019-07-25 17:43] jaedoucette commented on #122
@adonahue I think this is close, but as written now, the use cases for the review are very broad (" used to verify certain behaviors or human dynamics"). I think that kind of scope could take weeks or months to do properly. It also depends on what quality of review we want. I can cover more if we're willing to accept a standard of "there is a model that might work well" versus identifying and unde

[2019-07-25 17:46] jaedoucette commented on #123
@adonahue This looks pretty concrete to me.

The OpenFace library's pre-processing steps could be a good starting point. https://cmusatyalab.github.io/openface/

The main tools are dlib (http://blog.dlib.net/2014/02/dlib-186-released-make-your-own-object.html), which can estimate the pose a person is in in a picture, and OpenCV's affine transformations (https://docs.opencv.org/2.4/doc/tutorials/im

[2019-07-25 18:24] adonahue commented on #120
Notes from conversation with @jordanreedie:

* WebRTC already has an auto-reconnect mechanism that will try to reestablish a connection for up to 10 seconds. If it takes longer than that, and can't what are we gonig to do that would be a good user experience? 10 seconds is a long time, and users may rejoin on their own.

* We don't know how often ICE connection failures happen, and what the UX is

[2019-07-25 18:49] adonahue opened #126 "Logging for Riff"
Stories:

* Make logging configurable
* Write or use code to capture log data and send to server
* Spin up a server
* Understand costs of server
* Send data to server

[2019-07-25 19:07] ebporter opened #127 "Logging for Riff: Spin up server"
As a developer, I need a place for log data to be stored so I can review it later, especially when trying to troubleshoot poor performance, disconnections, downtimes, or other connectivity issues related to the Riff video chat experience.

Specifically, I want that server to be available such that I can:
- administer/monitor it to be able to make sure it's working and collecting the log data that

[2019-07-25 19:22] ebporter opened #128 "Logging for Riff: Log data about Riff video chat"
As a developer trying to optimize the performance of the Riff video chat client, I would like to get the WebRTC stats, which gives the following information:
- connection between peers
- ICE candidates
- ICE status between peers
- information about the streams that are being sent and received
- what is being encoded
- and many other things

It is not yet known what of these data will be most helpf

[2019-07-25 20:05] ebporter commented on #122
@jaedoucette @jordanreedie @adonahue
The first step here might be just to see what's out there and available and come back and report to the team about what is already supported in javascript. Then, we can decide if any of the already implemented / supported libraries do things that we think are sufficiently interesting.

The criteria for deciding whether something might be a good candidate are:
1

[2019-07-25 20:44] jaedoucette commented on #96
Recruitment Survey Preview: https://rc1userdr2g37fmjhl3w.az1.qualtrics.com/jfe/preview/SV_40yo1Hjree01e5L?Q_SurveyVersionID=current&Q_CHL=preview

[2019-07-26 16:15] jaedoucette commented on #123
The first step here might be just to see what's out there and available and come back and report to the team about what is already supported in javascript. Then, we can decide if any of the already implemented / supported libraries do things that we think are sufficiently interesting.

The criteria for deciding whether something might be a good candidate are:
1) Does something interesting (in the

[2019-07-26 17:07] adonahue commented on #72
This story is accepted as is, based on the proof of concept code that was deployed on DEV. A new series of stories for this epic have been written and estimated to complete production-level work.

[2019-07-26 17:08] adonahue commented on #50
This story is accepted as is, based on the proof of concept code that was deployed on DEV. A new series of stories for this epic have been written and estimated to complete production-level work.

[2019-07-26 17:13] adonahue commented on #17
@jordanreedie - can you please summarize your findings, so we can close out this spike. If you have more work to do, that's fine too, but my impression was you had mostly finished the research on this. Thanks!

[2019-07-26 17:18] adonahue commented on #16
Accepting this story as complete, based on @jordanreedie prototype implementation of bandwidth limiting in DEV.

[2019-07-26 17:34] adonahue commented on #30
Accepting story based on @jordanreedie summary. Further work is specified in story #128. https://app.zenhub.com/workspaces/riff-projects-5cb6029b4103d93ceadf001b/issues/rifflearning/zenhub/128

[2019-07-26 17:38] adonahue commented on #80
@mlippert and @jordanreedie - Can this story be closed out? It sounded like the review is done.

@mlippert  I'm guessing this took more than 2 hours - did you track your time somewhere else?

[2019-07-26 17:45] adonahue opened #129 "Implement Video / Audio Improvements for PLATFORM"
This story is a duplicate of the same functionality as specified for EDU: https://app.zenhub.com/workspaces/riff-projects-5cb6029b4103d93ceadf001b/issues/rifflearning/zenhub/87

PLATFORM code and PRs should be attached to this card and not #87, which is for EDU code and PRs.

[2019-07-26 18:04] adonahue commented on #80
Nevermind @mlippert I found them on PR #129.

[2019-07-26 19:33] jaedoucette commented on #86
Awaiting finial review by @ebporter and confirmation with the Western IRB about what documents they'll actually want from us for this exemption application?

[2019-07-26 19:39] jaedoucette commented on #80
@jordanreedie  It looks like this story was linked to zenhub card #96, but that card is about Qualtrics surveys. Probably this should point somewhere else?

[2019-07-26 19:46] mlippert commented on #80
I was wondering what this story was when I got the email comment on it. Yes my code review time is in a couple of comments on the PR riff-rtc#129. That PR is attached to the story riff-rtc#96 which was obviously created before we realized we needed to keep all stories in the zenhub repo.

My Code Review Time on PR riff-rtc#129:
- 7/16 - 2.5 hrs
- 7/18 - 2.5 hrs
- 7/19 - 5 hrs
- 7/22 - 5.5 hrs
- 7/

[2019-07-29 14:25] jaedoucette commented on #86
IRB proposal completed and sent to the board.

[2019-07-29 16:28] jaedoucette commented on #108
2 hours

[2019-07-29 16:28] brecriffs commented on #108
2 hrs code review

[2019-07-29 21:05] jaedoucette opened #130 "Dense Video Layout in Riff Video Chat Meetings"
## Describe the ideal solution or feature request
As a user entering a video chat meeting, I want to see the other people in the meeting arranged in portrait-style windows with a grid layout, freeing up approximately half the screen to view other information.

Each user's video stream should be displayed in a "portrait" view. This view should be exactly the same width as the current width of the u

[2019-07-29 21:10] jaedoucette commented on #130
@adonahue @ebporter Feedback welcome!

[2019-07-29 21:42] jaedoucette opened #131 "Display a Google Doc alongside a Riff Video Chat"
## Describe the ideal solution or feature request
As a user, I want to be able to view and anonymously edit a Google doc positioned alongside a Riff video chat instance, so that I can talk about the contents of the document with my colleagues while still being able to look at them.

This story assumes that the card "Dense Video Layout in Riff Video Chat Meetings" (Zenhub #130) has been completed.

[2019-07-29 21:43] jaedoucette commented on #131
@adonahue @ebporter feedback welcome on this feature.

[2019-07-30 13:51] #88 closed, assigned to nobody

[2019-07-30 13:51] #70 closed, assigned to brecriffs

[2019-07-30 13:51] #22 closed, assigned to brecriffs

[2019-07-30 13:51] #28 closed, assigned to arizzitano

[2019-07-30 13:51] #30 closed, assigned to jordanreedie

[2019-07-30 13:51] #50 closed, assigned to brecriffs

[2019-07-30 13:51] #66 closed, assigned to jaedoucette

[2019-07-30 13:51] #72 closed, assigned to brecriffs

[2019-07-30 13:51] #77 closed, assigned to mlippert, jordanreedie, jaedoucette, brecriffs

[2019-07-30 13:51] #84 closed, assigned to mlippert

[2019-07-30 13:51] #85 closed, assigned to jaedoucette

[2019-07-30 13:51] #90 closed, assigned to nobody

[2019-07-30 13:51] #94 closed, assigned to ebporter, jaedoucette

[2019-07-30 13:51] #95 closed, assigned to ebporter, jaedoucette

[2019-07-30 13:51] #98 closed, assigned to ebporter, jaedoucette

[2019-07-30 13:51] #16 closed

[2019-07-30 13:51] #99 closed, assigned to jaedoucette, brecriffs

[2019-07-30 13:51] #59 closed, assigned to arizzitano

[2019-07-30 14:05] adonahue commented on #65
@mlippert - it doesn't look like the issue of not jumping to the top of the page has been fixed. What prompted the move to the QA pipeline? Thanks!

[2019-07-30 14:08] adonahue commented on #80
This code is merged, I believe. @mlippert @juliariffgit - can this be closed?

[2019-07-30 14:27] mlippert commented on #65
This fixed the problem of them jumping to the middle of the page, but it doesn't force jumping to the top of the page when a new meeting is selected.

[2019-07-30 14:28] mlippert commented on #80
fine by me

[2019-07-30 15:47] juliariffgit commented on #80
and me!

On Tue, Jul 30, 2019 at 10:28 AM Mike Lippert <notifications@github.com>
wrote:

--
*Julia Henderson*
Project Manager & Scrum Master, Riff Learning
julia@rifflearning.com
617.871.9104

[2019-07-30 16:12] mlippert commented on #132
I'm going to transfer this riff-rtc#96 issue to the zenhub repo.
It is currently in pipeline **Review/QA**, milestone **Sprint 7** has an estimate of **8** and is in Epic _Stage 1: Refactoring_ and is assigned to Jordan

These are the settings that are lost during a transfer and will need to be reset.

[2019-07-30 16:13] adonahue opened #132 "Chat: Refactoring for style and modularity, Second Half"
This story is about refactoring and modularizing all the video chat code.

Goals for (5/13 - 5/24) sprint:
- Refactor the second half the code for all of video chat, but still with some (introduced) bugs. But basically, be all the way through cleaned up code that can be worked on by anybody.

Goals for (5/27 - 6/7) sprint:
- Clean up code for bugs and style and have a working version that is fully

[2019-07-30 16:23] mlippert commented on #133
Transferring this issue from riff-rtc#125 to zenhub repo.
It should be in pipeline **Sprint Backlog**, with a label of **Bug** and attached to PR riff-rtc#126

[2019-07-30 16:35] mlippert commented on #136
Transferring this from rifflearning/riff-rtc#73 to zenhub.
- pipeline: **Product Backlog**
- estimate: **2**
- Epic: **Stage 1: Refactoring**

[2019-07-30 16:36] ebporter opened #136 "Refactor dashboard metrics so they can be toggled on and off"
This task is about being able to separate out each visualization on the dashboard so we can toggle them on and off and be able to mix and match them as we need to.

This story was originally titled "Separate out react components from Views/Pages".

[2019-07-30 18:02] jaedoucette commented on #96
@ebporter

Pre-activity survey is now complete and tested. Preview is here:

https://rc1userdr2g37fmjhl3w.az1.qualtrics.com/jfe/preview/SV_0c5JIbLNqf8VVFH?Q_SurveyVersionID=current&Q_CHL=preview

I believe this should take about 5 minutes to complete. If it's a lot longer, we can think about what to cut.

[2019-07-30 18:17] ebporter commented on #96
Okay, I have taken the survey. I found one typo (in attached image).

![Screen Shot 2019-07-30 at 2 13 02 PM](https://user-images.githubusercontent.com/7805740/62154486-cc2fb400-b2d4-11e9-9281-58412e356397.png)

On Tue, Jul 30, 2019 at 2:02 PM John Doucette <notifications@github.com>
wrote:

[2019-07-30 18:19] ebporter commented on #96
@jaedoucette I think the only thing that people might not know how to do is to copy and paste that number -- so you might just want to give them instructions in parentheses underneath it.

[2019-07-30 18:48] jaedoucette commented on #96
For reference, I'm attaching a file link to this issue that details the process I used to create the 10-item version of "Reading the Mind from the Eyes" test.

The summary is that it's based on an Ant Colony Optimization approach from this paper. The new version has a typical score distribution of 72% +/- 19%, which is about the same as the original, but has strange higher-order moments, and may *

[2019-07-30 18:49] jaedoucette commented on #96
@ebporter Addressed both of those comments.

[2019-07-30 19:13] jaedoucette commented on #96
@ebporter  The intra-activity survey is now done, and is up here:

https://rc1userdr2g37fmjhl3w.az1.qualtrics.com/jfe/preview/SV_5AyA53yWHLxaZlH?Q_SurveyVersionID=current&Q_CHL=preview

This one should take about 1-2 minutes to complete.

[2019-07-31 14:46] adonahue commented on #65
@mlippert - the desired functionality is when a link is clicked, for the page to display at the top, so that the user can see their metrics for the meeting they selected. Are there implementation problems with jumping to the top that should be part of how we consider this work? Thanks!

[2019-07-31 15:05] mlippert commented on #65
This was part of the refactor and since the previous code didn't do anything to jump to the top of the page, the refactor isn't either. I was explicitly trying to not add code that did things differently other than cleanup. It seems there may have been some bugs that on chrome moved to the top of the page, but firefox never has, so I consider this a new feature, not a fix to the refactor work.

I

[2019-07-31 16:15] mlippert commented on #128
I'd suggest updating our current logging in riff-rtc to use the [browser-bunyan](https://github.com/philmander/browser-bunyan) package. I like bunyan because it logs json objects which are very easy to process. Then it should be a matter of setting up a log stream for the logs of interest to be forwarded to wherever they will be stored.

I have never used `browser-bunyan`, I've only used bunyan on

[2019-07-31 21:27] jaedoucette commented on #96
@ebporter

The intra-activity survey is now _actually_ done. It's up here for testing:

https://rc1userdr2g37fmjhl3w.az1.qualtrics.com/jfe/preview/SV_5AyA53yWHLxaZlH?Q_SurveyVersionID=current&Q_CHL=preview

I believe it should take about 4 minutes to complete. Let me know if you think it will take much longer than this.

Notes:
- The survey uses the "Networked Minds Social Presence Inventory", whi

[2019-07-31 21:51] ebporter commented on #96
Okay... I read it over and took the survey. I have several comments. I can leave them all here, but it's lengthy with screenshots. Perhaps @jaedoucette we should have a conversation and create a synthesized list of action items...

[2019-07-31 21:56] jaedoucette commented on #96
@ebporter

And finally, here's the post-meeting survey:

https://rc1userdr2g37fmjhl3w.az1.qualtrics.com/jfe/preview/SV_a8KuHFFSIwZ564t?Q_SurveyVersionID=current&Q_CHL=preview

Outstanding issue from this one: Maybe it would be better to keep them working in the same survey, but in a separate tab, rather than trying to link the same group across two surveys? This is closely related to the earlier p

[2019-07-31 22:03] ebporter commented on #96
Okay... I breezed through that one and have an additional comment on the post-meeting survey (as well as the comments from the inter-activity survey, which are shared with this one).

Regarding the outstanding issue, if we can make it one survey and we can keep them from having to enter the names of the people again, I think that would be a good idea. If we can figure out a way for them not to ent

[2019-08-01 14:10] adonahue commented on #65
Yeah @mlippert , I see that as a totally valid point of view. Not the outcome I wanted, but makes sense in the context of the refactor. Thanks. With that in mind, marking this as Accepted.

[2019-08-01 15:11] adonahue commented on #132
Accepting as complete on @mlippert 's recommendation. No user-facing work to test or review.

[2019-08-01 15:19] jaedoucette opened #137 "Write the Moderator's Script"

[2019-08-01 15:20] jaedoucette opened #138 "Write the second case study"

[2019-08-01 17:44] adonahue commented on #69
@brecriffs - now that #111 has closed - is this still work that needs to be done? If so, @ebporter - is it something you can help me understand the priority of, and get written so @brecriffs can stay focused on the network graph node?

[2019-08-02 13:55] brecriffs commented on #69
I think it makes sense to postpone this.

[2019-08-02 20:47] mlippert commented on #116
OK, I chose to deploy this at `nsf.riffedu.com` since it was left up to me.
That site is now up and running in the AWS `us-west-2` (Oregon) region.

@jaedoucette has created a user and I have made that user a `System Admin`.

I did not create any teams, I'm leaving that to John so he can name the team(s) as he sees fit.

Support files for creating the AWS docker stack and deploying riffedu there h

[2019-08-05 15:37] jaedoucette commented on #117
It appears that, although Mattermost supports _outgoing_ OAuth easily, it does not support _incoming_ OAuth from any sources other than Git and (with payment) Google.

While Amazon does provide quite detailed instructions for how to integrate its single-sign on service into a website, substantial changes would still be required to Mattermost.

Some possible solutions:

1. Investigate altering Riff

[2019-08-05 17:01] adonahue commented on #130
@jaedoucette - a couple of thoughts / comments. Happy to chat if you have questions.

* I would break the AWS set up into a separate story.  I think it probably blocks the ability to test anything in the other stories and it could be done in parallel to the actual dev work.
* You don't specify one way or another, but I'm assuming all the other MM functionality and labeling that we have today, shou

[2019-08-05 17:18] adonahue commented on #131
@jaedoucette - a couple of thoughts / comments. Happy to chat if you have questions.

* Why is the document name hard-coded? What is the document name based on? I don't understand the thinking behind that, v.s the URL, and why it would be different in this version than as a feature in the product.
* If an (anonymous) user leaves and comes back, will they have a different anonymous animal? Does tha

[2019-08-05 18:52] jaedoucette commented on #118
Unfortunately most of Mattermost's permissioning capabilities were move to the paid versions in June 2018, which appears to be before RiffEDU forked off of Mattermost.

- Users can be prevented from creating new teams, or from joining new teams without an invitation.
- We can have Qualtrics automatically email each participant with a link to join a _specific_ team, splitting them into smaller grou

[2019-08-05 20:21] jaedoucette commented on #131
@adonahue

- Why is the document name hard-coded? What is the document name based on? I don't understand the thinking behind that, v.s the URL, and why it would be different in this version than as a feature in the product.
-- For this feature, the plan was to hard-code the document name to simplify things. A subsequent feature would address making the document name a function of the Riff room nam

[2019-08-06 14:28] jaedoucette commented on #118
Closing this card. The conclusion was that RiffEDU is not an optimal choice for us. The main concern was the privacy leakage (emails are used as default usernames). Coupled with the lack of permissions, most of the advantages of this application were lost. We plan to explore a ChatPlat based solution next.

[2019-08-06 14:28] jaedoucette commented on #117
Closing this card. The conclusion was that RiffEDU is not an optimal choice for us. The main concern was the privacy leakage (emails are used as default usernames). Coupled with the lack of permissions, most of the advantages of this application were lost. We plan to explore a ChatPlat based solution next.

[2019-08-06 14:30] jaedoucette commented on #92
Closing this card. We decided to proceed with Dalhousie. This was based both on fairly low overall costs, and on the responsiveness of and pre-existing relationships of trust with Dalhousie personnel. John has contacted Dalhousie about next steps, moving towards a contract and actual recruitment of staff.

[2019-08-06 16:36] jaedoucette commented on #101
Spent 2.5 hours in code review.

[2019-08-06 17:48] adonahue opened #139 "Recommendations UI Framework"
As a PM, I have balsamiq mockups for how recommendations will fit into the the EDU dashboard UI, but these are not precise and to exact scale. I would like the basic UI of the framework to get implemented (w. dummy data and text) so that I can verify how much space I have for the display of recommendations and also that the network graph does not scale down to an unusable size.

** Story Acceptanc

[2019-08-06 17:48] jaedoucette opened #140 "Create nsf.riffplatform.com"
## Describe the ideal solution or feature request
A new environment, similar to dev.riffplatform.com (in that it should deploy from riff-server and riff-rtc repository branches instead of release tags) should be created at nsf.riffplatform.com.

This environment should be easy to deploy to from separate branches of the various Riff repositories.

A series of new features in this epic should be bui

[2019-08-06 17:51] juliariffgit commented on #69
@Amy, I don't think there's any additional work to do on this story at the moment. @mlippert  already took Brec's structure for the scss files in the project, and did the Dashboard refactor work.

In the future, we might consider asking Frances to weigh in with pros and cons and considerations for other possible approaches, but this is not planned work at the moment.

We could either move this to

[2019-08-06 17:58] adonahue opened #141 "Recommendation - First Riff Meeting (wk 1)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to use Riff Video right from the start, because it correlates with better outcomes.

** Story Acceptance Criteria **

This rec should display under the following conditions:
- [x] It's week 1 of the course.
- [x] Display text: “Have your first

[2019-08-06 18:10] adonahue opened #142 "Recommendation - Post in PLG (wks 1 and 2)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to set up good relationships with their group members.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It's less than two weeks from the course start date (9/17/19).
- [x] User belongs to a PLG

[2019-08-06 18:19] adonahue opened #143 "Rec - Post in Town Square (wks 1 and 2)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to connect with course mates outside their PLG.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It's less than two weeks from the course start date (9/17/19).
- [x] Display text: “Introduce your

[2019-08-06 18:29] adonahue opened #144 "Rec - Two Call Per Week (wks 2 - 8)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to have at least two Riff calls per week since that is correlated with better outcomes.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It's more than one week from the course start date (9/17/1

[2019-08-06 18:41] adonahue opened #145 "Rec - Post in Capstone Group (wks 4 and 5)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to build relationships with their capstone teammates.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It is week 4 or 5 of the course.
- [x] User belongs to a capstone channel.
- [x] Display tex

[2019-08-06 18:43] adonahue opened #146 "Rec - First Capstone Meeting (wk 4)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to use Riff video with their capstone teammates.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It is week 4 of the course.
- [x] User belongs to a capstone channel.
- [x] Display text: “Have a

[2019-08-06 18:51] adonahue opened #147 "Rec - Course Connections (wks 5 - 8)"
As a PM, I want to encourage users to use the Riff platform so that they engage more deeply in the course and have better outcomes. I want to encourage them to connect with course mates outside their PLG.

** Story Acceptance Criteria **

This rec should display under the following conditions:

- [x] It's week 5 - 8 of the course.
- [x] Display text: Reach out to other learners in the course to bu

[2019-08-06 18:55] adonahue opened #148 "Rec - Testing Recommendation Logic"
Need solution to test variable criteria - e.g. complete / incomplete, display in some weeks but not others.

[2019-08-06 18:58] adonahue opened #149 "SPIKE: Rec's - Requirements for storing user interaction data from recommendations."
Need to incorporate here - or in the other stories - rules about storing user interaction data so we can analyze it later.

Logging user interactions on Rec’s will be useful for research:
What they completed and when
When it was displayed / seen.

[2019-08-06 19:06] adonahue opened #150 "Rec's - Rules for ordering the display of new recommendations"
As a PM, I want the display of recommendations to follow a logical pattern and order, so that users don't get confused by the way we present information.

** Feature Acceptance Criteria **
- [x] New rec's appear at the top
For weeks that have new groupings, group intros should come before group calls.
- [x] Week 1 - rec order should be 1) Post in PLG; 2) First Riff Call; 3) Post in Town Square
- [

[2019-08-06 19:24] #104 closed, assigned to nobody

[2019-08-06 19:25] #69 closed, assigned to nobody

[2019-08-07 16:37] jaedoucette opened #151 "Fetch Google Docs to display based on properties of the name of a Riff Video Chat Room."
NOTE: this story has been discussed and estimated but is back in as a candidate this sprint b/c the estimate may have changed now that @jordanreedie has done other work related to this.

## Describe the ideal solution or feature request
This feature is a followup on Zenhub #131, which adds the capability to display a hard-coded Googledoc alongside a Riff Video chat in the new layout proposed in Ze

[2019-08-08 15:11] adonahue opened #152 "Influence Graphs, Visual Update, Platform"
_Note: this story title was changed to be implemented on riffplatform instead of riffedu, riffedu will be a later story some of the details below may still reference edu -mjl_

As a PM, I want the dashboard to look visually appealing and intentionally designed, so that it conveys professionalism and users take our metrics seriously. Our influence graphs do not match the design pattern of our other

[2019-08-08 20:17] jaedoucette commented on #152
We weren't sure what "Display of explanatory text when there were on influential responses." meant

and we were also unable to view a mockup of this design through the provided link. The wireframe that is labelled "influence graph" is empty for us, and none of the other ones appears to contain influence.

[2019-08-08 20:24] adonahue commented on #152
@jaedoucette
- Explanatory text is just what it says when no influence was measured, it's some thing like "it looks like you didn't influence anyone in this meeting..."

- Here's a screenshot of the design.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/f82ac167-c82e-48a8-8075-72c696b8174d)

[2019-08-08 20:32] jaedoucette commented on #152
We're going to assume IG = influence graph.

Labels outside of the bounding box of the chart is probably not workable.

Association of color when the graphs have different numbers of data series in them may be tricky. It might be easier to use all of the other participants in both of the graphs, even when some of them have 0 influence events. Mike estimates this could save maybe 1-2 days.

Beveled

[2019-08-08 20:37] jaedoucette commented on #139
No questions from us on this.

[2019-08-08 20:58] jaedoucette commented on #141
It is currently (we think) hard to determine which week of the course we are in programmatically. The best approach we can think of is "within 1 week of when the PLG channel was created."

Not clear to us what it means to have a meeting with your team. Is it _all_ of the team, some of the team?

We think that, if the business logic defined a meeting with your team as either "everyone in my PLG cha

[2019-08-08 21:02] jaedoucette commented on #142
We think that the time issue here is similar to the last card. We may also need to pull out Brec's existing code to determine whether a channel is PLG.

The remainder of task seems easy to address with the Matermost API.

[2019-08-08 21:04] jaedoucette commented on #143
The only hard part here is telling what time it is. If that's addressed in 141 or 142 this could be quick.

Hardcoding as "town square" might generate technical debt.

[2019-08-08 21:09] jaedoucette commented on #144
If the time issue in 141 is addressed, and "week 2" starts, say, the first Monday after
the PLG was created at 00:01, we think this is addressable.

If the Riff call issue is built in 141, then it should be easy to add this functionality too.

[2019-08-08 21:14] jaedoucette commented on #145
We think that if the issues with defining what a week is are addressed in 144.

We think there could be technical debt around the use of "capstone", and around future courses that may not have these. If we hardcode "capstone" we think this is pretty quick.

[2019-08-08 21:22] jaedoucette commented on #146
Worth noting: our proposed method of checking time requires the user to stay in their PLG after. Better solutions probably involve placing a start-time in the config, which are trickier.

We think this is meant to be the same as the rec for PLGs, but it is not written quite the same. Is the intention is that you have a "meeting with your capstone team" (which has the same definition as a PLG "meet

[2019-08-08 21:24] jaedoucette commented on #147
We think this easy as long as the time issue is sorted out, because the connection data is already pulled to generate the network graph, so we just need to look at it again.

[2019-08-08 21:34] jaedoucette commented on #150
"New" is tricky, because we don't currently have a persistent list of recs.

One possibility is use a common data structure for recs, that requires a specified date at which it becomes active. Recs are then sorted by date. Another is to define an ordering relation over types of Recs.

We think this should probably be done after the second rec is made, so that subsequent rec designs can be made to

[2019-08-09 13:59] brecriffs commented on #141
Seems we are getting to the core of a repeating technical problem. We need the mattermost-server to know which users attended which riff video meetings. (Or at least, when a riff video link is posted in a channel, which users clicked on it.) If we have this information, generating and displaying this recommendation seems straightforward.

[2019-08-09 14:02] brecriffs commented on #142
Although the current GetUserAnalytics() functionality does not return posts in PLG channels, since they do not count as an interaction technically (only replies), it would be a relatively easy addition to make.

[2019-08-09 14:05] brecriffs commented on #143
I think since 'town-square' is always the default initial channel in MM (I think? Maybe this can be changed in settings), hard-coding doesn't seem to be a huge issue to me. Current GetUserAnalytics()  functionality WILL return posts in town-square, so only parsing this data and checking if a post in town-square exists would be necessary.

Agreed on the issue of know course run dates. Checking for

[2019-08-09 14:07] brecriffs commented on #144
+1 on comments above. Same technical barriers. Will still require more back-end functionality once barriers are removed.

[2019-08-09 14:10] brecriffs commented on #145
Why is it necessary to specify that it is week 4 or 5? A user either belongs to a capstone channel or it doesn't. Even if the capstone channel is created before the capstone project is started, why not recommend to say 'Hey there' to your team?

Is it possible, to somehow add to the config the start dates of a course?

Also, if we want to avoid hard-coding channel names, why not just say, if there

[2019-08-09 14:16] brecriffs commented on #146
Similar comment to the last one for me. I say, dynamically check all of the learning groups that the user is a member of, and if they haven't attended a meeting, which the link was posted in that learning group's channel, then show the recommendation.

[2019-08-09 14:16] brecriffs commented on #147
Dido

[2019-08-09 14:21] brecriffs commented on #150
Seems like if we create functions to generate each recommendation, and we call the functions in a particular order (on the front-end), we can achieve this.

[2019-08-09 14:23] brecriffs commented on #140
I have no idea how Mike has the servers set up, so it's very hard for me to think about how he would go about cloning dev. Maybe you can point the URL to the same instance but a different git branch?

[2019-08-09 15:21] jaedoucette commented on #152
Numbers are allowed to go on the inside of the graph if it's hard to put them outside..

Beveled edges are wanted, but not essential. If they're hard to do in the current visualization package, then skip it.

[2019-08-09 15:55] jaedoucette commented on #141
We decided that a "meeting with your group" means you joined a meeting in riff-server that contained at least one person who was a member of your PLG.

[2019-08-09 17:02] jaedoucette opened #153 "Screen Sharing -> Stop Screen Sharing -> Beth Joins -> Someone Gets Kicked Out Bug"
This is a placeholder.

The bug _might_ be reproduced by:

1): There is a "large" meeting (i.e. many participants)
2): Someone shares their screen.
3): Someone stops sharing their screen.
4): Beth joins (or maybe this happens before screen sharing halts?)
5): Someone (not Beth) loses connection to everyone else at approximately the instant that Beth joins.
6): Connection can only be restored by re

[2019-08-09 17:53] adonahue opened #154 "SPIKE: Test framework for recommendations feature"
As a PM, I want to release a recommendations feature to test the concept of Riff feedback based on our analytics. Because this is a prominent user-oriented feature that is mean to showcase Riff as an "intelligent" tool that directs people into behaviors that will make them more successful, it is especially important that it not be (or look) broken to the user, which would undermine their confidenc

[2019-08-09 18:09] adonahue commented on #102
From talking with @brecriffs - I believe this has been implemented on PRs for other stories in this feature. Moving to QA so it can be tested once that code is merged and deployed.

[2019-08-09 18:11] adonahue commented on #17
Closing this story. The other performance improvement work @jordanreedie did covers the intention of this spike.

[2019-08-09 18:12] adonahue commented on #129
Looks good in staging.

[2019-08-09 18:13] adonahue commented on #91
Looks good in staging.

[2019-08-09 18:22] adonahue commented on #152
Per the discussion at planning, the essential elements of this graph are:

- [x] Vertical bars
- [x] Colors that match the rest of the graphs
- [x] Sized boxes that match the dimensions of the Speaking Time metric and tile three across above the Timeline metric to create an even orderly layout.
- [x] the labeling structure that is used in the Speaking Time metric.

[2019-08-12 19:30] jaedoucette commented on #154
Jordan and I did a brief spike on this and will attach a PR to this card.

We spent 30 minutes on the spike.

We disabled all existing tests, and were able to add a new test module for Riff that builds under the existing target. We verified that we can create new unit test cases (did not check integration testing), and that test cases can both pass and fail in expected ways.

New tests can easily

[2019-08-12 19:39] jaedoucette commented on #154
@adonahue

We have _unit testing_ working now (pending merging of this PR). Unit testing allows us to easily test whether any _single_ technical part of a feature is working correctly. So, for example, we can test that, if you give a certain date to the part of the code that generates recommendations, it does produce the expected list.

What we _cannot_ do right now is integration tests, where we

[2019-08-12 19:48] jaedoucette commented on #154
Assigned code review to @mlippert

[2019-08-13 10:18] adonahue commented on #154
Thank you @jaedoucette and @jordanreedie - this is super helpful! I agree, unit tests seem reasonable and like a good step in the right direction.

[2019-08-13 17:28] adonahue opened #155 "Install survey plugin in NEXT EDU deployment"
This story is to allocate Mike's time to install the survey plugin that Brightscout built in the EDU instance for the fall course run.

[2019-08-13 17:29] adonahue opened #156 "NEXT EDU Configuration Checklist"
limit doc size
survey settings
turn on notifications

[2019-08-16 18:05] juliariffgit opened #157 "Implement a Networking Graph"
This is a Placeholder ticket so we can attach 3 related PRs together which relate to implementing the Network Graph from the Sprint 5 Spike.

[2019-08-16 18:07] juliariffgit commented on #157
Please attach all work related to implementing the Network Graph

[2019-08-16 18:11] juliariffgit commented on #157
These relate to zenhub#100, zenhub#101, zenhub#102, and zenhub#103

[2019-08-16 18:14] juliariffgit commented on #157
@mlippert, I am pulling this into Sprint 8 "In progress". Please add a story points estimate if possible.

[2019-08-16 18:24] mlippert commented on #101
This was a spike and as such has no associated PR and is not deployed. It should have been viewed by Amy either on dev or via screensharing on the developers machine. I'm moving it to accepted. There is an implementation story rifflearning/zenhub#157 for getting this functionality into the product.

[2019-08-16 18:24] mlippert commented on #100
This was a spike and as such has no associated PR and is not deployed. It should have been viewed by Amy either on dev or via screensharing on the developers machine. I'm moving it to accepted. There is an implementation story rifflearning/zenhub#157 for getting this functionality into the product.

[2019-08-21 14:46] jaedoucette commented on #157
We're going to start to start building #139 atop this feature branch, in the hope that merge conflicts can be minimized.

[2019-08-22 16:25] brecriffs commented on #107
What do we think the accessible chart table should display for this?

[2019-08-22 18:20] brecriffs commented on #157
Network Graph, Card "Filp" Functionality#107

[2019-08-22 18:22] brecriffs commented on #157
Changed estimate to be an aggregate of estimates of all related cards so far.

[2019-08-22 18:45] ebporter commented on #107
When the front of the card is shown, it should give a description of what
action can be taken -- i.e. it can be clicked to show a back side. So,
depending on the style of other entries in the table, something like "Click
to show information on the back side of this card."

When the back of the card is shown, likewise, it should describe what
action can be taken -- "Click to close this description

[2019-08-22 18:56] brecriffs commented on #107
Ah sorry, I think I should have been more clear. I think you are referring to the aria-labels/descriptions for the button itself. The other graphs don't have those, I don't think, but it might be good to add. (Would be a bit of extra work). Currently, when you click the info button, the screenreader reads the text on the back of the card. When you click 'x', the card is flipped back to the graph,

[2019-08-22 21:19] jaedoucette commented on #141
@adonahue We aren't sure whether the text here is intended to be the final text. It seems like it would be strange to have check next to this wording.

(Doesn't make sense to say "looks like you haven't met with your team yet" if you have.)

[2019-08-23 14:51] ebporter opened #158 "Toggle Meeting Mediator for experiment"
The intended functionality for this feature is the ability to invoke the video chat with or without the meeting mediator displayed through an automated command. This means that in our implementation of the experiment, half the people meeting in small groups get the meeting mediator and half the small groups don't.

The acceptance criteria for this feature is that we can spin up multiple meetings a

[2019-08-23 14:52] ebporter commented on #158
I know that a mechanism exists for configuring the video chat to show or not show the meeting mediator, but I've never seen it in action. This card is for demonstrating that we can actually do it.

[2019-08-23 14:54] ebporter commented on #87
I don't think we have a mechanism to systematically test this; our anecdotal testing by using it every day seems to be enough to accept this story. We can always reopen it or open a new story if we need to continue to work on or test this functionality.

[2019-08-23 14:57] ebporter commented on #102
This can't be moved into accepted until #157 is merged. Is that correct @brecriffs?

[2019-08-23 18:48] brecriffs commented on #102
@ebporter That's correct.

[2019-08-24 16:53] brecriffs commented on #150
I am confused about week 4. The Course Connections card says display only 5 weeks into the course.

[2019-08-26 14:40] adonahue commented on #141
@jaedoucette @brecriffs - Your definition of a "Team meeting" is correct - t least one other person from the group will count.

As for the text, it can read: "Have your first Riff meeting with your [Peer Learning Group]." Brackets indicate a link back to their PLG channel. LMK if adding a link is a significant difference of effort for implementation. Thanks!

[2019-08-26 14:46] adonahue commented on #150
Good catch @brecriffs - I've updated the card above for the display for week four. Thanks!

[2019-08-26 15:03] adonahue commented on #107
Good question @brecriffs . A couple of questions:

* Can a user navigate the graph via the keyboard and get a readout of each node? I.e. at least have a way to access the information, even if it's not ideal?
* Given how dynamic the graph might be, do you have any sense of how much more difficult this table might be compared to our other implementations?

[2019-08-26 15:42] juliariffgit commented on #155
https://nexted.riffedu.com/ai-bsa-fal-2019/channels/links-fun

[2019-08-26 15:46] ebporter commented on #158
Sounds like we want this to be a config setting that will be settable as a deployment variable. That means we need to manage two deployments for the experiment, but that it's much less error-prone and easier to get spun up.

[2019-08-26 15:47] jaedoucette commented on #158
The mechanism that makes sense to us is:

 - Put a new option in the config.
 - Make 2 riff instances, one using each config setting.
 - Config setting determines whether meeting mediator is displayed or not.

[2019-08-26 16:07] juliariffgit commented on #148
Some notes from our discussion:
Comprehensive manual test may be out of scope. John did manage to do a simple time-based manual test.

We have some open questions about where the timestamp comes from - personal machine v. server timestamp, etc. Also start date.

Basic: let's satisfy ourselves that the time mechanism is working.

--

Upshot: We will roll this into Unit Testing. We will ensure this

[2019-08-26 16:07] #148 closed, assigned to nobody

[2019-08-26 16:23] jaedoucette commented on #149
Consider using Google Analytics instead of dumping to MongoDB?

Maybe think about MongoDB.

[2019-08-26 16:47] adonahue commented on #64
The new code is deployed on staging edu: https://staging.riffedu.com/
In terms of getting to the registration page, use: https://staging.riffedu.com/signup_email

[2019-08-26 17:58] adonahue commented on #155
@mlippert - can this get closed, or do we need to track moving the supporting Mattermost code changes as well? Thanks!

[2019-08-26 18:37] jaedoucette opened #159 "Add decryption capabilities to the data pipeline."
## Describe the ideal solution or feature request
 The data pipeline is currently designed to join together several databases based on email address. This works well for older databases.

Versions of Riff-server deployed after April 2019 use AES encryption to protect private user data, including email addresses. This means that we cannot join together multiple data sources using email addresses.

[2019-08-26 18:50] jaedoucette opened #160 "Complete individual analysis reports for Fullbridge Users"
Fullbridge has contracted us to produce an analysis report for each of their users. The reports will include:

- [ ] A summary line for each meeting the student participated in, stating their total speaking time, percentage speaking time, times they influenced others, and times others influenced them.
- [ ] A summary of the aggregates for the above measurements across all meetings.
- [ ] A "domina

[2019-08-26 18:54] jaedoucette opened #161 "Create aggregate report or slide for Fullbridge use"
Using the results of the individual reports from Zenhub #160, or other data sources, create a short deck of slides with the following findings (or similar):

- [ ] Less dominant users became more dominant over time.
- [ ] Users collaborated more effectively over time (higher average energy level).
- [ ] Users influenced each other more over time.
- [ ] Users had higher EQ in later meetings than ea

[2019-08-27 16:01] adonahue commented on #154
No code to merge from this spike. Marking as accepted last sprint. @juliariffgit - please change that status to another version of accepted / closed if need be.

[2019-08-27 16:42] jaedoucette commented on #149
Conclusion

The best solution for now is:
- Currently, recommendations are generated by a function `getRecommendations()` that is called in the `componentDidMount()` function of the recommendations sub-component of the Dashboard.
- After this `getRecommendations()` function has been successfully called, the `componentDidMount()` function has local access to the current user's identifier, and to th

[2019-08-27 16:43] adonahue commented on #107
@brecriffs - the text for the back of the card is now in the story above.

[2019-08-27 16:46] jaedoucette commented on #149
@adonahue This is ready for review.

If it looks good, I can create a separate card (probably for @jordanreedie) to implement this feature as written.

[2019-08-27 18:12] adonahue commented on #149
@jaedoucette - this looks pretty clearly defined to me - thanks! Please go ahead and make a separate card for this and stick it at the top of the sprint backlog. I will close out the spike. Do you know if any of the remaining recommendation work is blocking this?

[2019-08-27 19:11] jaedoucette commented on #149
@adonahue Great, I'll make another card. The existing recommendation work is not _directly_ blocking this. However, we would need to build it on top of that work, which in turn is built on top of the network-graph work. Both of those are currently unreviewed and have not been merged into the main development branch.

When we build on top of unreviewed code, there will be extra overhead, because ch

[2019-08-27 19:17] jaedoucette opened #162 "Gather Recommendation Display Data"
## Describe the ideal solution or feature request
Currently we have code that displays recommendations, but no way to go back later and determine which users saw which recommendations, and when they saw or completed them.

Every time a user looks at the Dashboard, we should record:
- The user's ID
- A timestamp.
- Which recommendations were displayed to them.
- Whether each displayed recommendatio

[2019-08-27 21:41] brecriffs commented on #107
@adonahue Each node is focusable, and there is functionality to add an accessible description for each node that gets read aloud on focus. We would just need to define when should be described for the 'You' node, context nodes, and the users' nodes.

It would definitely be considerably more difficult to summarise this graph with a table. Maybe list the total interactions in each context, and final

[2019-08-28 14:56] adonahue opened #163 "Network Graph, Add Posts as Activity on the Graph"
As a user, I think of posts in Riff EDU as course activity and would like to see that reflected in my network graph. I would also like to see my completed recommendations about posting in channels reflected in the graph.

This story is an enhancement to the existing network graph to include posts as course activity. Because posts are not direct engagement with another user, they will only be refle

[2019-08-28 16:14] adonahue commented on #107
@brecriffs - I think the built-in functionality of using aria tags on the graph will be sufficient for this version of the feature. Didn't completely follow what you meant about the descriptions for the context nodes - maybe that can be addressed in the tool tip info? Anyway, let's chat about that part when you have a second.

[2019-08-28 16:27] adonahue opened #164 "Network Graph, Update Text on Back of Graph"
The explanatory text on the back of the graph should be updated to include the fact that posts are also counted. The text should read:

"This metric shows how many times you've connected with members of your group(s) and other people in the course. Connections are a total of your posts, direct messages, mentions, replies, and reactions in Riff.
[NEW PARAGRAPH]
Learners who engage with their peers

[2019-08-28 22:59] jayhollins commented on #64
Testing findings:

Yes, however the tooltips are not "read" by the NV access screen reader; is that part of the requirement? Not clear on how this would help a non-sighted user. The only element of the mediator itself that the screen reader picks up on mouseover (intermittently, at that) is the node initial.

Also, tabbing from the URL bar picks up _end call_ and _share your screen_, but then jump

[2019-08-29 17:42] adonahue opened #165 "Network Graph, A11y Requirements"
The Network Graph has basic support for non-sighted users via Aria tags on each of the nodes, which can be traversed via the keyboard and read to the user. This story specifies additional information that should be added to the Aria node tags to provide extra context for the user.

** Story Acceptance Criteria **
- [x] Each of the graph nodes should be accessible via the keyboard.
- [x] When a nod

[2019-08-29 17:43] adonahue commented on #107
@brecriffs - new story for the a11y requirements here: #165

[2019-08-29 17:59] adonahue commented on #64
@brecriffs - take a look at Jason's comments above. The a11y intention for this story is for the nodes in the MM and the card flip functionality to be keyboard navigable, and for all of that info to be readable by a screen reader. I realize this was not spelled out very well in the story itself.

When you wrote this code were you intending to put that functionality in? I'm trying to figure out if

[2019-08-29 19:17] adonahue opened #166 "Deploy EDU staging to NEXT PROD"
This story is to allocate time to update the NEXTed EDU PRODUCTION site with the staging code that includes the meeting mediator updates and the survey, but NOT the graph or recommendation features.

nexted.riffedu.com currently has mm ver `1.0.0-dev.8` which consists of mattermost-webapp `1.0.0-dev.25` and mattermost-server `1.0.0-dev.7`, along with riff-server ver `0.4.0-dev.13`.

staging.riffed

[2019-08-30 14:06] brecriffs commented on #64
That does make sense. From looking at staging.riffplatform.com, it doesn't look like that functionality was implemented originally. I can take a look at implementing this now.

[2019-08-30 16:28] brecriffs commented on #64
Just posted a PR with this working. It should cover all the requirements that you mentioned. Will ping you when it gets merged.

[2019-09-03 16:15] mlippert commented on #140
I believe the latest thinking is that we will need 2 sites not just one?

[2019-09-03 17:43] adonahue commented on #157
The PRs attached to this story cover functionality specified in the following stories: #103, #107, #102, #101, #100.

[2019-09-03 17:44] adonahue commented on #103
Functionality / code for this story is in the PR(s) attached to story #157.

[2019-09-03 17:45] adonahue commented on #107
Functionality / code for this story is in the PR(s) attached to story #157.

[2019-09-03 17:45] adonahue commented on #102
Functionality / code for this story is in the PR(s) attached to story #157.

[2019-09-03 17:49] adonahue commented on #101
Functionality / code for this story is in the PR(s) attached to story #157.

I'm moving back to QA, since the initial "acceptance" was lightly tested on DEV. Now that the PR(s) on #157 are deployed, the counting rules need to be vetted via more formal QA. @juliariffgit

[2019-09-03 17:50] adonahue commented on #100
Functionality / code for this story is in the PR(s) attached to story #157.

I'm moving back to QA, since the initial "acceptance" was lightly tested on DEV. Now that the PR(s) on #157 are deployed, the counting rules need to be vetted via more formal QA. @juliariffgit

[2019-09-03 17:56] jaedoucette opened #167 "Review Crypto in Riff-Server"
As the CEO, I sometimes sell to clients who have strict security requirements (e.g. MasterCard, Grant Thornton). I want to have standard and well designed security implementations, so that we don't lose business by having non-standard, less secure product.

### Story Acceptance Criteria
- Update our current code to use the updated and recommended encryption code for node.js
- Update our CBC encryp

[2019-09-03 18:54] adonahue commented on #102
Accepted as complete on staging. Some variation from initial design but meets requirements. Will create a new story to address a11y criteria.

[2019-09-03 19:01] adonahue opened #168 "Network Graph A11y"
This story lists (previously unspecified) criteria for a11y navigation.

Basic network graph and tool tip
- [ ] Need to be able to keyboard navigate (tab) to info button.
- [ ] Need to be able to keyboard navigate (tab) to info-close button.
- [ ] Tooltips for user nodes should read out the information including username and contact counts.
- [ ] The default readout for the nodes is a little confu

[2019-09-03 19:34] adonahue commented on #103
Tested in Chrome / Staging. The original design called for the Influence graphs to be scaled to the same size as the donut for a uniform look. Given that we want to overhaul that graphic anyway, and the time frame of the deployment for NEXT, accepting this story as is.

[2019-09-03 23:43] mlippert commented on #155
This can be closed, it is part of rifflearning/zenhub#166

[2019-09-04 15:59] adonahue opened #169 "A11y Remediation, Network Graph and Rec's"
This epic is to track stories that have been accepted for standard use, but have not been designed for a11y requirements and testing. That work needs to happen post NEXT release, as a specific remediation step.

[2019-09-04 16:07] adonahue opened #170 "Network Graph, Brittleness of NEXT-specific Implementation"
Our network graph is very specific to the NEXT course design and channel naming. We need to figure out how to refactor to make generic to other course implementations, and / or have it be an "optional" feature in a course context where it doesn't make sense.

Also consider refactoring the SQL, and other enhancements, like other types of mentions and adding video, as part of a refactoring effort th

[2019-09-04 16:15] adonahue commented on #107
Tested in staging / Chrome. Accepting this story as-is.

A couple of notes - we likely have a11y remediation which will be addressed in separate stories as technical debt.

Small fix in the formatting of back of card text. Will track and prioritize separately.

[2019-09-04 16:59] adonahue commented on #100
Verified staging / chrome. Accepting story as is, will write new stories for small criteria that did not pass. Prioritizing getting the feature in as a whole over, acceptable discrepancies from the design.

[2019-09-04 18:23] adonahue opened #171 "Meeting Mediator is Broken in Staging EDU"
When you start a meeting in https://staging.riffedu.com/test-2019-1/ the MM has only a center node. Metrics in dashboard appear normal.

[2019-09-05 15:12] adonahue commented on #101
Testing results reported here: https://docs.google.com/document/d/1r0UOb592FGYEj_V8r8fo330WhI7fYMMaRJtRV9vDMlk/edit

[2019-09-05 16:47] adonahue opened #172 "Replies in DMs count as DMs, not Replies"
UPDATE: Reviewed the specification and this is working as requested. However, I'm leaving it in the backlog as a possible enhancement, since what's written below makes more sense to me now.

When two users create a DM, and one user replies to another, that reply counts as a DM in the user node, Course node, and You node. The expected behavior is that replies within a DM count as Replies between th

[2019-09-05 16:49] adonahue opened #173 "Survey Broken in STAGING EDU"
When a user ends a meeting in staging EDU Riffbot does not send a link to complete the survey.

[2019-09-09 14:15] mlippert commented on #162
The backend part of this story is implemented by PR rifflearning/riff-server#16 which has been deployed to staging.riffedu.com
The frontend part of this story has been implemented as part of the rifflearning/mattermost-webapp#100 PR which is for some other story (or group of stories, it's in code review but not attached to any particular story at this time). This PR has not been merged or deployed

[2019-09-09 14:52] adonahue commented on #155
@juliariffgit - please close / accept how you would like. Thanks.

[2019-09-09 14:54] adonahue commented on #162
@mlippert - do you need need anything to happen for the frontend PR to get merged and deployed, or will it go w. that other code? CC @jaedoucette

[2019-09-09 15:18] adonahue opened #174 "Timeline duplicates when screen is resized"
Tested in Staging EDU, Chrome and FF.

When the browser is resized to a smaller width, forcing the dashboard graphics to stack on top of one another, the timeline replicates itself up to 5 times. This bug also occurs when you click the "info" for the timeline and then close the info box. This appears to continue to replicate the graph if you flip the card multiple times.

Expected behavior: The ti

[2019-09-09 15:35] adonahue commented on #171
Tested as best I can w. two laptops in the same room. Everything looks good. Would like to have a "regular" meeting just to confirm before moving to accepted.

[2019-09-09 15:49] mlippert commented on #162
It's part and parcel of that other PR that is being reviewed and will be reviewed and merged as part of that.

[2019-09-09 16:09] adonahue commented on #163
Tested in staging / chrome, FF.

[2019-09-09 16:30] adonahue commented on #173
John is the only one on the team who has reported this bug. I don't know how to reproduce, so moving it to the icebox for now. I verified that the survey worked as expected in STAGING today.

[2019-09-09 17:19] adonahue opened #175 "Network Graph Enhancements"
This story is to track small changes to the Network Graph Feature. These items were part of the original stories, but they were approved "as is" in order to close and release the feature. These are being tracked here for prioritization at a later time.

#103
- New dashboard - The “no meetings yet” text should be displayed below “your conversations” and left aligned.

#107
- Paragraph break on back

[2019-09-09 17:24] adonahue opened #176 "(tracking card) Network Graph - Functional Enhancements"
This story is a placeholder to collect functional enhancements for the network Graph feature, so they can be reviewed and prioritized. Checked issues have another card written for the work.

- [x] Nodes drift past the boundaries of the graph.
- [x] Graph nodes do not match the Riff color pallet, or story specifications.
----
- [ ] Deleted Posts do not get subtracted from the counts.
- [ ] Replies

[2019-09-09 17:39] adonahue commented on #141
@jaedoucette and @brecriffs - is there any minimum participation time for this to count as a meeting? (e.g. 5 minutes?). If there is, I want to make sure I meet those requirements in testing. Thanks!

[2019-09-09 18:00] jaedoucette commented on #141
@adonahue I don't think so. It's really just looking for whether two people were in a meeting at the same time.

[2019-09-09 18:19] mlippert commented on #175
Re the #107 enhancement, the ChartCard which implements the info text, currently only supports a text string w/ no formatting which is why there is no paragraph break. Not that it can't be done, but it is more work than just fixing the text to be displayed, and may involve touching all other places that ChartCard is used (all the graphs and meeting mediator I believe).

[2019-09-09 20:30] juliariffgit commented on #155
Cool. Moved to "accepted this sprint"

[2019-09-10 14:17] adonahue commented on #175
Thanks @mlippert - good to know.

[2019-09-10 18:23] jayhollins commented on #60
Further details can be found here: https://docs.google.com/spreadsheets/d/1ED0KqU-6H1tOhUWRn38salEuRFkADdsuB5_uJK3QtUk/edit#gid=0

Summary (note that items in green were not tested as they were believed to be addressed):

Failed:

- Color contrast: password error message

Partially passed:

- Labels not provided for form elements

Passed:

- Password error message not directly linked to the passwo

[2019-09-11 16:20] adonahue opened #177 "EDU dashboard breaks if user has first meeting by themselves"
From @jordanreedie via the #defects channel:

https://github.com/rifflearning/mattermost-webapp/blob/42233716cfe1aec410e79fc5bacbd75f59b9366c/actions/views/dashboard.js#L164
actions/views/dashboard.js:164
                err.message === 'no meetings after nparticipants filter'
<https://github.com/rifflearning/mattermost-webapp|rifflearning/mattermost-webapp>rifflearning/mattermost-webapp | Added b

[2019-09-12 14:28] adonahue commented on #141
Verified, Chrome / Staging. Accepted as is, with a slight variation in the Recommendation text.

[2019-09-12 14:47] adonahue commented on #139
Testing STAGING, chrome / FF.
Accepting story as is. Recommendations don't scale / wrap below a browser width of 1020. Will add that as an enhancement.

[2019-09-12 14:48] adonahue opened #178 "Better wrapping / scaling of Recommendations in EDU dashboard"
Recommendations don't scale / wrap below a browser width of 1020.

![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/977dd738-8422-4af9-afe7-f0bdfdacd445)

[2019-09-12 15:05] adonahue commented on #142
Verified staging, FF.

[2019-09-12 15:08] adonahue commented on #143
Verified, staging, FF.
There is a small tilde in the link to Town Square, which was not in the original design.

Accepting story as it.

[2019-09-12 15:09] adonahue opened #179 "Remove tilde from Town Square links"
As a PM, I want the links in the Recommendations to be visually consistent, and display like typical hyperlinks.

** Story Acceptance Criteria **
- [ ] In Rec "Post in Town Square" (week 1 & 2) - display text “Introduce yourself in [Town Square] to begin connecting with other learners in the course.”
- [ ] In Rec "Course connections" (week 5-8) - display text “Reach out to other learners in the co

[2019-09-13 14:14] adonahue commented on #146
Verified in staging / chrome by changing the date on my local machine.

[2019-09-13 14:19] adonahue commented on #145
Verified, staging / chrome.

[2019-09-13 15:02] mlippert commented on #174
Just a note: This is because of how the timeline re-renders. I fixed it in the dashboard refactor done in riff-rtc, but it required extensive changes.

[2019-09-13 15:05] mlippert commented on #179
I added the tilde `~` prefix because that is how mattermost references channels in messages. Try it out.
The PLG link does not have a tilde prefix for 2 reasons, first the name isn't actually the name of the PLG channel, and secondly you can't (in mattermost) add a channel link to a private channel (which makes sense if you think about it). If we used the actual name of the user's plg channel, I c

[2019-09-13 16:07] adonahue commented on #162
@jaedoucette - please move this to accepted once you are happy with the data. Thanks!

[2019-09-13 16:09] adonahue commented on #171
Verified.

[2019-09-13 19:05] adonahue commented on #147
Verified, staging / chrome. Week 8 is now displaying.

[2019-09-13 19:07] adonahue commented on #144
Verified - staging / chrome.

[2019-09-13 19:08] adonahue commented on #164
verified staging / chrome.

[2019-09-13 19:14] adonahue commented on #177
verified - staging / chrome.

[2019-09-18 15:49] adonahue opened #180 "Clean up recommendations feature"
The goal of this story is to bring the code for the Recommendations feature up to current Riff Release standards, with out adding support for new user-facing functionality.

Guidelines:
* Limit scope - the Rec's feature may be dropped completely, or significantly revised to support something less course-specific.
* Make the code something you would not be embarrassed to show another developer.

[2019-09-18 16:00] adonahue commented on #170
Per an informal conversation with @mlippert - he thought the main technical thing to change was breaking up the large SQL query, and that when we made this a more generic design, it would be a good time to do that work, and also account for those changes in the scope of the story.

[2019-09-18 16:26] adonahue commented on #175
De-prioritizing and / or consolidating this list into other cards. Closing this one.

[2019-09-18 16:26] #175 closed, assigned to nobody

[2019-09-18 17:31] adonahue opened #181 "SPIKE: Strategy for full test coverage on Riff EDU"
We have a business goals to have a commercial version of Riff EDU available in March 2020. A commercial product must - among other things - be scale-able and maintainable, and so reaching 70 -80% *unit test* coverage for the EDU product is a pre-requisite for commercialization.

The goal of test coverage is to be able to introduce changes to Riff EDU and reduce the likelihood (with high confidence

[2019-09-18 18:12] adonahue opened #182 "Keep graph nodes inside the graphing boundary"
As a user, when I look at my network graph with a lot of nodes, some of them drift out of view, outside the graph boundary. I would like all the nodes to remain inside the graph, so that they are easy for me to read and look at the tool tips.

![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/2041c860-3a17-4fba-9e43-67073ebda3f4)

[2019-09-18 18:25] adonahue opened #183 "Update network graph to Riff color pallet"
As a PM, I want a dashboard that looks cohesive and intentionally designed, so that our product looks professional. I would like the network graph to match the rest of the Riff color pallet in the other graphics.

** Story Acceptance Criteria **
- [x] Graph should use the Riff metric colors as follows: User node, purple (#ab45ab); Course cluster , green (#7caf5f); PLG, orange (#f2a466), Capstone,

[2019-09-18 18:33] adonahue opened #184 "Include other types of "mentions" in the network graph"

[2019-09-18 18:39] adonahue opened #185 "Riffbot should not get counted in the network graph"
As a user, I don't want Riffbot's survey DM's counting as connections in my network graph. I would like it to only include person-based interactions, so that I have an accurate picture of the connections I've made in the course.

NOTE: the estimate and scope of this story is to just filter out the "riffbot" user from the graph on the client side. A more robust solution should be done as part of a

[2019-09-18 19:03] adonahue opened #186 "Add video calls to the network graph"
As a user, I know that Riff Video calls are associated with better results, and I would like to see those tracked in my network graph, so that I can keep track of how I'm doing.

As a PM, I want to emphasize Riff video, since that is a core part of our product offering.

Riff video should be counted each time a person *participates* in a Riff video call. The call should count once, for each person

[2019-09-19 15:28] juliariffgit commented on #141
@brecriffs and @jaedoucette, could one of you put a points # on this when you have a moment so we can keep tracking our velocity properly?

NEVERMIND! I see it in there.

[2019-09-19 15:30] juliariffgit commented on #166
@mlippert, could you add points to this story when you have a moment so we can keep tracking our sprint velocity? Thanks!

[2019-09-19 15:31] juliariffgit commented on #110
@jaedoucette, could you add points to this story when you have a moment so we can keep tracking our sprint velocity? Thanks!

[2019-09-19 15:32] juliariffgit commented on #165
@brecriffs, could you add points to this story when you have a moment so we can keep tracking our sprint velocity? Thanks!

[2019-09-19 15:33] juliariffgit commented on #180
@mlippert, could you add points to this story when you have a moment so we can keep tracking our sprint velocity? Thanks!

[2019-09-19 15:57] brecriffs commented on #165
Ok added.

[2019-09-19 19:14] jaedoucette commented on #10
This involves:

1): Making an NPM package for dashboard.
2): Use the new NPM package in RiffPlatform, but do NOT modify RiffEDU.

[2019-09-19 19:15] jaedoucette commented on #10
We think there's probably a mess resolving the redux dependencies here.

[2019-09-19 19:17] jaedoucette commented on #151
We think this doesn't need to be re-estimated, Jordan doesn't think he's learned a ton about this yet.

[2019-09-19 19:26] jaedoucette commented on #181
Something that was not fully clear to us:

100% coverage is probably not the desired goal (that quality is used only for NASA-grade software).

We _think_ the goal is "get all the old mattermost tests working and passing again, _and_ add new tests for all the new code written by Riff".

Also not clear to us what the reversion / version control criteria is about. We think we already have that capab

[2019-09-19 19:28] jaedoucette commented on #174
We think this should postponed until after the completion of refactoring RiffEDU to use the packaged versions of video and dashboard, which address this bug.

[2019-09-19 19:36] jaedoucette commented on #186
We think _maybe_ this should be built with a weighting factor based on meeting length. Otherwise, we understand this.

[2019-09-19 19:47] jaedoucette commented on #185
This one also looks like it'll be easier to do post-refactor.

If this is important to do _now_ we can do it, but if not, we think it should be delayed.

Note: If we will need to fix this _before_ the reactor, we _should_ do it now, because the fast way involves working with an unmaintainable SQL query.

We think refactoring the SQL query should be a priority anyway.

[2019-09-19 19:50] jaedoucette commented on #183
Make sure to use the Riff Colors Named Enumeration.

[2019-09-20 15:00] jaedoucette commented on #181
Notes from sprint planning:

-> 70-80% coverage goal
-> Need a building plan to, for all the repos.

[2019-09-20 15:24] jaedoucette commented on #183
How does the tradeoff between showing more nodes and keeping them readable shake out? (Product question?)

[2019-09-20 16:30] adonahue commented on #9
@mlippert and @juliariffgit - I have a new story for the package work, and this one seems to have no meaningful information. Ok to close it?

[2019-09-23 13:45] jhenderorl commented on #9
Okay by me! I am going to close and pull into our "closed previous sprints" column.

[2019-09-26 14:25] adonahue commented on #105
Want to delay / incorporate this into the generic version of the network graph.

[2019-09-27 15:14] adonahue commented on #152
Accepting this story, including two additional changes - 1) to add scrolling to the date navigation and 2) to display non-speaking participants in the "Attendees" count.

[2019-09-27 15:17] adonahue opened #187 "Metrics issues (Tracking Card)"
This is a placeholder card for various issues.

- Non speaking participants would be visualized in the graphs
- Participants should not be identified using their name - Mike said this is happening in some cases (timeline chart groups metrics by name not id -mjl).
- Add percentage to the tool tip in the doughnut.

[2019-09-27 15:32] adonahue opened #188 "Change URL to demo.riffplatform.com"
As the CEO, I would like to have a demo site instead of a beta site, so that our product and marketing reflect the state of our company.

*** Story Acceptance Criteria ***
- [ ] Change the URL of the current beta site (https://beta.riffplatform.com/) to demo.riffplatform.com/
- [ ] Redirect beta.riffplatform.com to demo.riffplatform.com/

[2019-09-27 15:32] adonahue opened #189 "Update copy on home page"
As a PM, I want a cohesive product message on the home page of our demo site, so that we look like we aren't in beta mode anymore.

NOTE: This story is not completely spec'ed out, but I believe there is enough directional information between the mockup and the Acceptance Criteria to give an accurate estimate.

Approval of the final design is pending, but it will very likely be something close to t

[2019-09-27 15:33] adonahue opened #190 "visual updates to "my riffs""
As the CEO, I want a quick an easy way to give demos of Riff, and have our product look simple and professional. I'd like to make the following changes to the My Riffs page. A mockup of the changes can be seen here (Wireframe: "my riffs"; Official version): https://balsamiq-wireframes.appspot.com/?state={%22action%22:%22open%22,%22ids%22:[%221mGW0wxD7_7hzQ45EA6AYL2WDp06tRq8H%22],%22userId%22:%2211

[2019-09-27 15:33] adonahue opened #191 "Fix navigation scroll bar in chrome"

[2019-09-27 15:34] adonahue opened #192 "Site-wide changes for demo site"
- [ ] Make Learn More open in a new window.
- [ ] Change the URL for Learn More to "https://www.riffanalytics.ai/"
- [ ] Update the Riff logo to the Riff Analytics logo (Top nav may have to shift right.)
- [ ] Change "My Riffs" to "Riff Metrics" in the top navigation.
- [ ] Change "Chat" to "Riff Video" in the top navigation.
- [ ] Reverse the positions of "Riff Metrics" and "Riff Video" in the to

[2019-09-27 15:35] adonahue opened #193 "Put some instructions and content on the lobby page"

[2019-09-27 15:37] adonahue opened #194 "Update logo to new analytics logo in top nav"

[2019-09-27 16:40] adonahue opened #195 "Dashboard: Metrics info text does not resize"
Expected behavior: Text will fit inside the box and not be cut off.

NOTE: Dev recommendation was to adjust the padding and see if that solved the problem down to a browser width of 1024. If not, a second solution will be written and estimated.

![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/9de81c1d-a94e-4e22-9892-12dd9657ff77)

[2019-09-30 13:30] adonahue opened #196 "Updates to Lobby Page on Demo Site"
As a PM, I'd like the UI and UX on the Lobby page to follow conventional design patterns and set the context for joining a meeting.

** Story Acceptance Criteria **

*** Visual Updates ***
- [ ] When the mute button is clicked, swap it to the red, crossed out icon that displays when you meet during a meeting.
- [ ] Add the text "Signed in as:" above the displayed email.
- [ ] When a user is not si

[2019-09-30 13:43] adonahue opened #197 "Demo Site Updates"
This epic involves the work of a light update to the demo site so it looks better when presented to potential clients and investors.

I think we want to make all these changes in staging, and then deploy that to the new demo site. Is there any reason not to do that?

[2019-09-30 15:44] #194 closed, assigned to nobody

[2019-10-03 14:58] adonahue commented on #192
![riff_analytics_2tone.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/e5c4e175-fc43-4ff6-8dc9-6d9aa0c059e6)

[2019-10-03 14:59] #193 closed, assigned to nobody

[2019-10-03 15:56] jaedoucette opened #198 "Direct Joining of NSF Riff Platform Meetings from a URL, and URL displaying"
Riff staffing solution for conducting the grant experiment has shifted, and it now appears to be much easier to automate large parts of the protocol.

The main limiting factor for achieving a completely automated process is that we currently require users to create "accounts" in two places: nsf.riffplatform.com and qualtrics. Since users may fail to enter their email correctly in both places, or m

[2019-10-03 17:58] #191 closed, assigned to nobody

[2019-10-03 19:14] jaedoucette commented on #188
Would we also like to use `riffanalytics.ai` instead of `riffplatform.com`? The rationale doesn't quite seem to make sense to us.

[2019-10-03 19:23] jaedoucette commented on #189
We are not completely sure what "responsive design" means exactly, but we think perhaps we have this for >1024 width already?

Also, the changing of the graphic is not a developer task. We can easily change the graphic, but actually making a new one is not straightforward. Is making the new third graphic part of this task, or is that something that will be provided to the developer who works on th

[2019-10-03 19:27] jaedoucette commented on #190
We assume this is about changes to riffplatform, but want to confirm that it is about that, and not about EDU.

[2019-10-03 19:31] jaedoucette commented on #192
We think the logo includes both the circle and the text, but want to confirm this. Some of us are concerned about the design of the new logo.

The second criterion is a little confusing to us. Is the intention really to have it point to the main site?

[2019-10-03 19:40] jaedoucette commented on #196
We think most of this is not too hard, but the additional input field may be more complex because of the need to change riff-server.

We think the right way to do this is to add an array of "meeting types" to the meetings. As each user enters a meeting type (or not), type names are appended to this array.

[2019-10-03 19:47] jaedoucette commented on #195
We are unsure what the intended functionality is for this. Some possible ideas:

- The font size should get smaller (perhaps unreadably small), sized proportionally to the size of the window or the box.
- It should clip so that only the text that fits in the box is displayed, but the font size stays the same. Elipses are displayed where the text gets clipped.
- We could try to move the text up, an

[2019-10-03 21:56] brecriffs commented on #195
Seems like there is more than enough space in the box for the text, even at the current size, if we widen the text area and reduce the top padding at a certain screen width.

[2019-10-04 01:46] ebporter commented on #192
The logo include the circle and the text, but it's a single image. What's
the specific concern? It was done in haste, just to have something. So, if
there is feedback about what makes it problematic, let me know and I can
give the feedback to our designer.

I'm not sure what the trouble is... there should be the marketing
site/domain (www.riffanalytics.ai) which I manage and is a Squarespace
site,

[2019-10-04 15:09] jaedoucette commented on #188
In planning poker, it was clarified that this is indeed meant to go on riffplatform.

[2019-10-04 15:25] jaedoucette commented on #190
All of this is just on RiffPlatform.

[2019-10-04 16:10] mlippert commented on #195
Estimating for resizing the text area and possibly setting a minimum height for the charts

[2019-10-04 16:59] adonahue opened #199 "Add Meeting Input Box to Platform Lobby Page"
As the Principal Scientist at Riff, I would like labeled data so that I can do more accurate analysis. I would like to add an open input field to the lobby page on Riff Platform so that people can optionally enter the type of meeting they are having.

*** Acceptance Criteria ***
- [x] Add a new input field for the user to enter the type of meeting they are having, below the name field.
- [x] Add t

[2019-10-04 17:27] adonahue commented on #190
I have a little redesign work to do on this story based on developer feedback - namely taking attendees out of the navigation). Also while this is probably the highest priority in terms of visual changes for the beta site, it will potentially collide with the dashboard packaging work @mlippert is doing in sprint 12, and that will need to be coordinated with @brecriffs if he picks up this story.

[2019-10-04 18:04] adonahue commented on #181
@jaedoucette @jordanreedie @mlippert @brecriffs - this document is super-helpful, thank you! I put a bunch of comments and questions in the doc, please take a look. @ebporter - please review and comment as well, asap. I think we should probably plan to meet later next week to through more of the details on how to approach this work.

[2019-10-04 18:17] jaedoucette commented on #181
@adonahue  Sorry, forgot to attach this to the card too! The document is here:

https://docs.google.com/document/d/1y6hIj0eI-rmKopz5BxnHtuuoyjEkjf3KYPCTDS4_UV0/edit?usp=sharing

[2019-10-04 19:28] brecriffs commented on #182
https://github.com/amcharts/amcharts4/issues/1713

A request to handle overflowing nodes gracefully was placed and has been marked as an enhancement two days ago. Will be interesting to see how that plays out.

[2019-10-07 20:56] brecriffs commented on #189
@adonahue Waiting to get started on this until images are supplied. I'm decent with Photoshop, etc, and could come up with some graphics, but some direction would be helpful.

[2019-10-08 15:27] adonahue commented on #189
@brecriffs - I still need to update the graphic that contains "my riffs" - I am tracking down the source.

In the meantime, you can find product graphics graphics in this directory: https://drive.google.com/drive/u/1/folders/1EA-aowWf6-eTYQq-uYS98FJbzgFcPwc-

In terms of what goes where, I think that will be clear from the mockup above, but if it's not just lmk. (There are two MM graphics, please

[2019-10-08 15:49] adonahue commented on #192
@brecriffs - please note the addition above to change the text of the "chat" link in the navigation. If this story is too far along for that, LMK and I will put it somewhere else or write a new one. Thanks!

[2019-10-08 23:31] brecriffs commented on #192
@adonahue Not too late at all, I will make that change.

[2019-10-09 01:08] brecriffs commented on #189
@adonahue Ok sounds good, thanks!

[2019-10-09 01:49] brecriffs commented on #192
@ebporter @adonahue How the image is used on 'https://www.riffanalytics.ai/', will look like the following:![Screenshot from 2019-10-08 21-49-26.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/32c324b0-3006-456a-9bc8-0147c7bb66c9)

If I reduce the size of the image, it looks like:
![Screenshot from 2019-10-08 21-50-29.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc5

[2019-10-09 15:36] adonahue commented on #192
@brecriffs - lm see if I can get the source file.

[2019-10-09 15:51] adonahue commented on #192
@brecriffs the .eps file for the new logo is here. https://drive.google.com/drive/u/1/folders/1k9sgOYX9YRstHNm9hfY0zgpEvFukN4XW

Please use the one w. purple writing (didn't know we had that one) since it will help distinguish the text in the logo from the text in the navigation. Thanks!

[2019-10-09 16:03] brecriffs commented on #192
@adonahue Great, thanks! In terms of sizing, and I guess in relationship to the nav bar links, how large do you want the logo?

[2019-10-09 16:04] adonahue commented on #192
oh sorry @brecriffs . I liked your second example better, where it was closer to the size of the nav text.

[2019-10-11 01:11] brecriffs commented on #189
@adonahue @ebporter Is it possible to get the source files for the first row of graphics on the homepage (if they exist). In order to `Change the third graphic to say "Riff Metrics" instead of "MY RIFFS"`, it would be a lot easier to edit the text in the original graphic file.

[2019-10-11 01:50] brecriffs commented on #189
@adonahue It looks like there might have been space left for an image in the section with header `Small Changes, Big Results`?

[2019-10-15 15:05] adonahue commented on #137
@ebporter @jaedoucette - Is there anything left on this storuy or can it be marked as complete? Thx!

[2019-10-15 15:30] jaedoucette commented on #137
@adonahue Nope, I'll close it out.

[2019-10-15 15:57] adonahue commented on #112
@jaedoucette - I'm having trouble understanding how to prioritize this work. A couple of Questions:

- How do these changes to the Mattermost database fit in with our plans to make Riff pluin-able (i.e. to have as little custom code as possible )? Should this (and other pipeline work) be in it's own plugin?

- What would the reports say that isn't provided through other metrics?

- Who generates t

[2019-10-16 00:22] brecriffs commented on #189
![Screenshot from 2019-10-15 20-19-53.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/8855d970-75b6-4569-b346-f571f35cca92)
![Screenshot from 2019-10-15 20-20-10.png](https://images.zenhubusercontent.com/5cc9e71e5c551f0edc55e96f/30019fd3-5f66-43e1-90fe-489bab23c46f)

@adonahue Attached are screenshots of the timeline with the height reduced. Let me know what you think.

[2019-10-16 15:13] adonahue opened #200 "SPIKE: amCharts prototype for all metrics"
We have licensed the amCharts graphics package in order to have access to a wide range of visual representations. Currently, we only have one of our graphics utilizing amCharts - the network graph. Ultimately we would like all of our legacy graphics (talk time, influence, and timeline) to also use amCharts, for the purposes of code cohesion / simplicity / maintenance and visual cohesion in the UI.

[2019-10-16 15:13] adonahue commented on #200
@brecriffs - I think this covers what we talked about yesterday. If any of this seems problematic or out of scope, LMK. Thanks!

[2019-10-16 17:53] adonahue opened #201 "SPIKE: Version upgrade strategy"
This story is to allocate time to investigate and make a recommendation about how we should approach our version migration to the current version of Mattermost as part of our commercial product release in Q1, 2020.

This spike should not be started until after our team meeting on this topic on 10/23.

The strategy should take into account and address the following:

- If we should pursue a "pull d

[2019-10-16 18:02] adonahue commented on #167
@jaedoucette and @ebporter - I'd like to get this story into sprint planning, since it is a requirement (via @ebporter ) for GT.  I don't understand the problem or the work required well enough to specify the specific story requirements  or acceptance criteria. If one of you can help clean this up for tomorrow, that would be really helpful.

NOTE: we CAN require strong passwords in EDU just by cha

[2019-10-16 18:19] adonahue opened #202 "Re-enable passing tests for the Mattermost-webapp code base"
As part of the spike about how to approach test coverage, it was discovered that many of the existing Mattermost tests ran and passed. This story is to allocate time to re-enabling the passing tests to run on the Mm code they're written for.

** Acceptance Criteria **
- [ ] Turn on all tests
- [ ] Enable passing ones
- [ ] Make a list of all the failing tests

[2019-10-16 18:19] adonahue opened #203 "Triage failing tests for the Mattermost-webapp code base"
As part of the spike about how to approach test coverage, it was discovered that ~165 Mm tests did not pass. This story is to allocate time to triage those tests so that we can prioritize fixing them.

** Acceptance Criteria **

- Each test evaluation should be time boxed to 20 mins for each test
- A completed spreadsheet, listing each test and assessment criteria: https://docs.google.com/spreadsh

[2019-10-16 18:20] adonahue opened #204 "Test Coverage for Riff EDU"
This epic encompasses the stories for reaching our goal for 70-80% test coverage for our March 2020 commercial release. Areas of test coverage include these repos:
- Mattermost-redux
- Mattermost-webapp
- Mattermost-server
- Riff-server

[2019-10-16 19:33] adonahue opened #205 "Security Issues for Riff Server and Riff RTC"
This came up in the context of the security audit. Ask Mike what the server issues are. SHould be addressed in the Riff Server Refactor.

[2019-10-16 19:40] mlippert commented on #205
Hmm actually it looks like the last changes we (Jordan) made to **riff-server** cleaned up the errors that were being reported. Today I get this:

[code]

**riff-rtc** gives me this:

[code]

[2019-10-16 21:16] jaedoucette commented on #167
@adonahue This should just be a refactor in practice. The password we mention is not the passwords that users enter, but the secret key that RIff uses to secure its data.

The basic problem is:

-> We encrypt the PII of users using an old piece of code (provided by the creators of node.js).
-> The old piece of code was not safe to use in the way it was intended. It was easy for an attacker to decr

[2019-10-17 18:02] adonahue opened #206 "SPIKE: Front End Flexibility for EDU Dashboard"
As a product manager, I want to be able to add new metrics as quickly as possible, so that we add continuous value to our product.

As a product manager, I do not want to redesign the dashboard to accommodate each new metric, because it repeats work, and limits our ability to release metrics asap.

As a product manager, I want a dashboard that looks polished and well designed, so that customers ta

[2019-10-17 18:59] adonahue commented on #167
please note - per @ebporter this is NOT a hard requirement for GT, but will be for Oxford in March 2020.

[2019-10-17 20:04] jaedoucette commented on #202
We think we understand this story well.

[2019-10-17 20:12] jaedoucette commented on #203
We think there are four categories:

-> Fix now. So simple that we fix it as we look at it. It's fixed now.
-> Clear fix. Not quite simple enough to do right now, but it's very clear what to do next.
-> Some ideas. Not clear exactly how to fix this, but there are several ideas.
-> No idea. Debugging this is a major project, probably at least 2-3 days.

We think this should be timeboxed to either 3

[2019-10-17 20:29] jaedoucette commented on #206
We think the right design is to have the dashboard accept a list of charts to display (each with their own properties), rather than fixed arrangements. This seems pretty feasible.

We _think_ the categories of charts we want to support in the future are small in number, but want to review this with Amy.

[2019-10-17 20:46] jaedoucette commented on #167
We're not sure _when_ this should happen, but we think it's low value _except_ for the Oxford contract, so maybe not this sprint.

[2019-10-17 20:52] jaedoucette commented on #167
We think the backwards compatibility issue for ops is actually pretty easy.

[2019-10-18 14:58] jaedoucette commented on #202
We think the deliverable should include a list of the tests that are _not_ passing, which can be passed to the person who works on Zenhub #203.

[2019-10-18 15:46] adonahue commented on #167
The deployment portion of this (- Add some code and configuration to Riff Server, so the corrected code gets used in new builds, and legacy builds (product) are undisturbed.) will be addressed through procedure in @mlippert's deployment process.

[2019-10-18 16:16] adonahue commented on #199
@brecriffs - the only acceptance criteria specified in this story is the UI stuff (with the assumption of it working on the back end too). I think you can do all that and then leave the story for @jordanreedie to finish, or if he wants, that can be broken out into a separate card.

[2019-10-21 13:35] juliariffgit commented on #181
@adonahue, Can this one move to the completed column?

[2019-10-21 15:10] adonahue commented on #181
@juliariffgit - added this to "last sprint" since that's when the work was completed, but move it to "this sprint" if you prefer to have it there.

[2019-10-21 15:20] juliariffgit commented on #181
@adonahue, "previous sprints" is perfect for this. Thanks!

[2019-10-21 17:22] adonahue commented on #189
![happy-tiles.JPG](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/a38b02bc-417d-4aa4-946a-aef3f781f74b)

@brecriffs - here is the image for the homepage. Please scale it down to the size of that block once the text is adjusted. Thanks!

[2019-10-21 18:48] adonahue commented on #196
@brecriffs - is it possible to have the mic status bar not display any green when mute is selected in the lobby? That little bit sort of suggests that you mic is locked at very low volume.
![image.png](https://images.zenhubusercontent.com/5cbf1c836caba0089f532d44/bfc46ff3-f484-4e4d-a221-e50ff05f06cb)

Also, after clicking around, now the status bar continues to move when muted. Not sure how I crea

[2019-10-21 21:09] jaedoucette commented on #121
Jordan & I dug a bit deeper into what we are doing right now.

It looks like our code to construct a bandpass filter for human voices doesn't actually do anything. It was supposed to make this filter:

![image.png](https://images.zenhubusercontent.com/5cbe853e1fa6c1080e7fe982/3278fa02-e967-4b01-a57b-59076842bdc1)

Luckily, the default parameters for a bandpass filter make this filter:

![image.png

[2019-10-21 21:26] jaedoucette commented on #121
Another issue is that we are logging some 0ms length utterances. These are probably going to pick up a lot of background noises. This is caused by line 66/67 of https://github.com/rifflearning/sibilant/blob/master/sibilant.js#L68

The fix is to either log only events that have at least 2 speaking times, or to use the start of the quiet times as the end of the utterance, rather than the timestamp f

[2019-10-21 21:37] jaedoucette commented on #121
Possible Node libraries we could use instead:

https://www.npmjs.com/package/node-vad

https://www.npmjs.com/package/voice-activity-detection

VAD looks super simple. Voice-Activity-Detection has some more features we could customize, where VAD picks sensible defaults and hides parameters.

"Voice Activity Detection is based on the method used in the upcoming WebRTC HTML5 standard. Extracted from

[2019-10-21 22:05] jaedoucette opened #207 "Add interruption Chart"
As a PM, I want to develop and release metrics as quickly as possible, so that we can add value to our product and get customer feedback.

As a PM, I have a December 2019 delivery for a client (GT) and would like to give them as many new metrics as possible, so that they feel like they are getting more value and that we are able to have direct customer feedback and delivery.

Mockup of metrics lay

[2019-10-21 22:08] jaedoucette commented on #121
@adonahue

We are marking this as ready for review. Our findings are summarized in this document:

https://docs.google.com/document/d/1H17j_gpVpagIeVfVeWZ1XX4sTxlSDEDbQRDr7Rqb_cA/edit?usp=sharing

[2019-10-22 03:04] brecriffs commented on #199
@jordanreedie Only the front-end is blocked here.

[2019-10-22 15:23] adonahue commented on #207
@jaedoucette - any guess on an estimate for this work?

[2019-10-22 15:41] jaedoucette commented on #207
@adonahue  My guess is a 2 or 3. This could be done quickly by reusing the existing code for generating influence charts.

[2019-10-22 15:42] adonahue commented on #207
And assuming this is separate from the technical work outlined in the spike report? Any estimate guess on that?

[2019-10-22 16:51] adonahue commented on #207
@jaedoucette - would you mind taking a look at what I've written for the back of the metrics for this story and LMK if you think it should be modified?

[2019-10-22 17:44] jaedoucette commented on #207
@adonahue Yep, I'm assuming this is separate from the technical work outlined in the spike report on Zenhub #121, in my estimate of 2 or 3 points.

Not sure about the "Interruptions indicate dominance over the other speaker, and are not common on high-functioning teams.". There are different kinds of interruptions. The kind we are measuring here are best described as "talking over someone who wasn

[2019-10-22 18:11] jaedoucette opened #208 "Replace rifflearning/sibilant for voice detection"
## Describe the ideal solution or feature request
As a scientist, I want to have confidence that the utterance data we record in Riff-server is an accurate reflection of when participants actually spoke.

Currently, our voice detection uses a specialized version of the node/sibilant library, stored in rifflearning/sibilant. This library's behavior is suspect for several reasons. The library purpor

[2019-10-22 18:43] adonahue commented on #207
@jaedoucette - Yeah, that description didn't feel quite right, but the purpose of the dashboard is to help people understand and change their behavior. I think this type of interruption (which doesn't need to be distinguished from the others yet b/c we don't have them) is one of the clearest examples of undesirable behavior, and it's worth saying so. But, I would prefer to ground it in something t

[2019-10-22 18:48] adonahue commented on #208
Initial estimate for this work from @jaedoucette is 3-5.

[2019-10-22 20:22] jaedoucette commented on #207
@adonahue I did some reading. It looks like this is very culture-dependent. Even within the USA there are two cultural clusters.

This is what I want to say, but it's probably too long:

"Frequent interruptions can be interpreted differently depending on the group you are speaking to. When interruptions stick to the same topic and the group is highly engaged, interruptions are likely to be perceiv

[2019-10-22 21:00] jaedoucette opened #209 "Spike: Explore changing the stitching threshold in Riff-server Utterances."
## Describe the ideal solution or feature request

Riff-server currently "stitches" together any two utterances made by the same user that occur within 5 seconds of each other. This is probably too wide to allow the accurate detection of interruption attempts unless the attempts are successful. We would like to reduce this threshold.

A possible reason for this behavior is that the computation of

[2019-10-22 21:11] mlippert commented on #209
What is the ballpark number of utterances in a 4 person one hour meeting? (not stitched utterances, the actual utterances we store in the DB). And then maybe the number of stitched utterances in that same meeting.

This is interesting near term in that we can easily do the stitching on the client before doing the calculating the influence/interruption/timeline data, and we can then stitch differen

[2019-10-22 21:47] jaedoucette commented on #209
@mlippert This is a good thing to check. I took a few minutes for a quick look.

From the Fullbridge dataset, it looks like without stitching, a typical number of utterances is about 150-200 per person for a 60 minute meeting, though some people speak much less than this, and people with something in the background (I think), can have thousands. With 5s stitching, it looks like this is roughly cut

[2019-10-23 00:37] mlippert commented on #209
@jaedoucette You're probably right that improving the algorithm used to calculate the influence analytic data is of lower priority, but having read through the algorithm you described above, I was/am looking forward to implementing it! It's something I'd particularly enjoy doing. Maybe not tomorrow though.

Those numbers are good to know though, I thought there could be 1000's per person per hour,

[2019-10-23 13:13] jaedoucette commented on #209
@mlippert I thought some more about this, and we can actually be a bit more clever than the algorithm in my earlier post. We don't save a ton with this, but it's a little more satisfying.

Key update is that we don't need to add all the utterances to the endDate priority Queue at the start, because they can only possibly be relevant if they've already been _removed_ from the startDate queue. The a

[2019-10-23 13:45] mlippert commented on #209
I like it. That was a nice realization that definitely streamlines the algorithm and makes it more efficient.

The initial utterances are already sorted, the code that retrieves them sorts them using the builtin sort of arrays.

It turns out that requesting that the server return them sorted doesn't work for stitched utterances (I discovered that during my 1st refactor) so the client sorts them af

[2019-10-23 14:02] jaedoucette commented on #209
@mlippert I see now that this is not clear from what I wrote, but I intended for the endDate queue to remain a min-priorityQueue, even though the startDate queue can just be a regular queue now. I think a heap is the right structure to use for the endDate queue.

Actually thinking about this more, maybe we can get O(n\*k) time by using two regular queues in place of the priority queue.

Idea is:
-

[2019-10-23 16:25] adonahue commented on #207
I like this quite a lot @jaedoucette, thank you! Maybe it can be trimmed a little, but all of it seems pretty relevant. And just to clarify, all of what you've written applies to the Type 1 interruptions that we're measuring, yeah?

[2019-10-24 14:04] adonahue commented on #75
Closing - this was addressed in a different story.

[2019-10-24 14:04] #75 closed, assigned to nobody

[2019-10-24 14:09] adonahue commented on #186
@jaedoucette @brecriffs - is this story (or portions of it) something that one or both of you can work on in this sprint if you're running short on things? In general, we are going to want to be able to have data from Riff video be something we can access and use in the app in a repeatable way (even if the UI differs). Thanks!

[2019-10-24 15:51] adonahue opened #210 "Spike: Evaluate Riff Plugin Development for Mattermost 5.16"
As the CEO, I want to understand viability of internally developing our own Mattermost plugins, so that we can make a decision about the plan and the timing to upgrade our EDU product to the current version of Mattermost.

The goal of this spike is to answer the following questions:

* How hard / easy is it to develop plugins internally with the developers we have?
* How much of the Riff code base

[2019-10-24 16:00] jaedoucette commented on #207
@adonahue Yep, it applies to the Type 1 interruptions. It probably also applies to the Type 2 kind, but we're deliberately excluding those for now. Adding them later should be a 10 minute change though.

[2019-10-24 20:45] jaedoucette opened #211 "Affirmation Charts"
As a PM, I want to develop and release metrics as quickly as possible, so that we can add value to our product and get customer feedback.

As a PM, I have a December 2019 delivery for a client (GT) and would like to give them as many new metrics as possible, so that they feel like they are getting more value and that we are able to have direct customer feedback and delivery.

Mockup of metrics lay

[2019-10-25 18:05] adonahue commented on #201
Marking this spike as accepted. Subsequent work to answer this questions is covered in story #210.

[2019-10-28 16:22] adonahue commented on #121
@jaedoucette - I am realizing that it's not clear to me what of the recommended work should be done when. I had the understanding that what we had in place was good enough to move forward with new metrics, and wasn't urgent to fix. But from chatting w. @jordanreedie - I think he does not think that's the case. I think I may have misunderstood what work is high priority, how that impacts our abilit